Repository kafaat/ais-aviation-system: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, server, client

chore: add pnpm mirror registry configuration
  .npmrc
Due: none

feat: implement Phase 3 DCS (Departure Control System)
  client/src/App.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/admin/DcsDashboard.tsx
  drizzle/schema.ts
  server/routers.ts
  server/routers/dcs.ts
  server/services/dcs.service.ts
Due: unittests, server, client

chore: add binary mirrors for blocked packages in .npmrc
  .npmrc
Due: none

fixing pnpm dev error
  package.json
  scripts/seed-data.mjs
Due: none

chore: remove unnecessary binary mirrors from .npmrc
  .npmrc
Due: none

fixing pnpm dev error
  package.json
  pnpm-lock.yaml
Due: none

chore: change OAuth server URL from manus.space to localhost
  .env.example
  .env.test
  vitest.config.ts
Due: none

feat: complete Phase 4 - payment history and soft delete for bookings
  client/src/App.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/PaymentHistory.tsx
  client/src/pages/admin/DeletedBookings.tsx
  drizzle/schema.ts
  server/db.ts
  server/routers.ts
  server/routers/payments.ts
  server/routers/soft-delete.ts
  server/services/payment-history.service.ts
  server/services/soft-delete.service.ts
Due: unittests, server, client

chore: fix CHANGELOG.md formatting for Prettier
  CHANGELOG.md
Due: none

fix: resolve CI failures - vouchers reserved word and idempotency null check
  server/routers/vouchers.ts
  server/services/idempotency-v2.service.ts
Due: unittests, server

fix: resolve test failures in CI
  server/__tests__/integration/critical-paths.test.ts
  server/auth.logout.test.ts
  server/bookings.test.ts
  server/flights.test.ts
Due: none

fix: resolve remaining CI test failures
  drizzle/schema.ts
  server/services/flight-status.service.ts
  server/stripe.test.ts
Due: unittests, server

fix: rewrite idempotency to check-first approach for MySQL NULL handling
  server/services/idempotency-v2.service.ts
Due: unittests, server

feat: Phase 5 - AI guardrails, chat UX, and production enhancements
  .github/workflows/ci-cd.yml
  client/src/App.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/AiChat.tsx
  server/routers/ai-chat.ts
  server/services/ai-guardrails.service.ts
  server/services/production.service.ts
Due: unittests, server, client

chore: fix CHANGELOG.md formatting after rebase
  CHANGELOG.md
Due: none

fix: add shamefully-hoist for pnpm to fix E2E server startup
  .npmrc
Due: none

fix: add server startup diagnostic and show E2E server output in CI
  .github/workflows/ci-cd.yml
  playwright.config.ts
Due: none

fix: capture server startup error output in E2E diagnostic step
  .github/workflows/ci-cd.yml
Due: none

fix: write server diagnostic to GITHUB_STEP_SUMMARY for visibility
  .github/workflows/ci-cd.yml
Due: none

fix: output server crash details as GitHub annotations
  .github/workflows/ci-cd.yml
Due: none

fix: wrap OpenAPI document generation in try/catch to prevent server crash
  server/openapi.ts
Due: unittests, server

fix: wrap createOpenApiExpressMiddleware in try/catch to prevent server crash
  .github/workflows/ci-cd.yml
  server/_core/index.ts
Due: unittests, server

fix: make E2E tests non-blocking and wrap OpenAPI middleware in try/catch
  .github/workflows/ci-cd.yml
Due: none

fix: use dynamic imports for trpc-openapi to prevent server crash at startup
  scripts/generate-openapi.ts
  server/_core/index.ts
  server/openapi.ts
Due: unittests, server

fix: CI pipeline and project issues
  .github/workflows/ci-cd.yml
  CHANGELOG.md
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  package.json
Due: unittests, client

fix: resolve vite config function before spreading in dev server
  server/_core/vite.ts
Due: unittests, server

fix: critical frontend issues - missing providers, routes, and navigation
  client/src/App.tsx
  client/src/components/DashboardLayout.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/BaggageStatus.tsx
Due: unittests, client

fix: critical Phase 1 & 2 bugs - seat deduction, pricing, validation
  client/src/components/JoinWaitlistDialog.tsx
  drizzle/schema.ts
  server/routers/bookings.ts
  server/routers/eticket.ts
  server/routers/group-bookings.ts
  server/routers/split-payments.ts
  server/routers/waitlist.ts
  server/services/corporate.service.ts
  server/services/group-booking.service.ts
  server/services/payments.service.ts
  server/services/travel-agent.service.ts
  server/services/waitlist.service.ts
  server/webhooks/stripe.ts
Due: unittests, server, client

fix: consolidate schema imports and fix demo code router name
  client/src/components/AIChatBox.tsx
  client/src/pages/ComponentShowcase.tsx
  server/services/family-pool.service.ts
Due: unittests, server, client

fix: Phase 3 bugs + Docker configuration fixes
  .dockerignore
  .env.prod.example
  Dockerfile.prod
  docker-compose.prod.yml
  nginx.conf
  server/services/ai-chat-booking.service.ts
  server/services/ai-guardrails.service.ts
  server/services/dcs.service.ts
  server/services/disruption.service.ts
  server/services/rebooking.service.ts
  server/services/travel-scenarios.service.ts
Due: unittests, server

refactor: remove duplicate schema files in favor of main schema.ts
  drizzle/flight-status-history-schema.ts
  drizzle/inventory-locks-schema.ts
  drizzle/loyalty-schema.ts
  drizzle/modification-schema.ts
Due: none

fix: worker entry point, inventory locks, price alerts, and prettier
  package.json
  server/services/email.service.ts
  server/services/notification.service.ts
  server/services/price-alerts.service.ts
  server/webhooks/stripe.ts
  server/worker.ts
Due: unittests, server

fix: complete all remaining issues with i18n, todos, and documentation
  CHANGELOG.md
  CLAUDE.md
  client/src/components/BookingAncillariesDisplay.tsx
  client/src/components/CancelBookingDialog.tsx
  client/src/components/ModifyBookingDialog.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  server/services/flight-status.service.ts
  server/services/queue-v2.service.ts
  server/services/queue.service.ts
Due: unittests, server, client

fix: rewrite CHANGELOG.md to fix recurring prettier formatting issues
  CHANGELOG.md
Due: none

fix: replace hardcoded strings with i18n, fix TODOs in MultiCity and email worker
  client/src/components/DownloadTicketButtons.tsx
  client/src/components/ErrorBoundary.tsx
  client/src/components/ManageAncillariesDialog.tsx
  client/src/components/ManusDialog.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/MultiCityResults.tsx
  server/queue/workers/email.worker.ts
Due: unittests, server, client

feat: comprehensive admin, notifications, email, error handling, and security improvements
  .env.prod.example
  Dockerfile.prod
  client/src/components/DownloadTicketButtons.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/AdminDashboard.tsx
  client/src/pages/admin/AnalyticsDashboard.tsx
  client/src/pages/admin/CorporateManagement.tsx
  client/src/pages/admin/DeletedBookings.tsx
  client/src/pages/admin/GroupBookingsManagement.tsx
  client/src/pages/admin/RefundsDashboard.tsx
  client/src/pages/admin/TravelAgentManagement.tsx
  docker-compose.prod.yml
  nginx.conf
  server/routers/admin.ts
  server/routers/ancillary.ts
  server/routers/bookings.ts
  server/routers/corporate.ts
  server/routers/eticket.ts
  server/routers/favorites.ts
  server/routers/group-bookings.ts
  server/routers/payments.ts
  server/routers/refunds.ts
  server/routers/split-payments.ts
  server/services/baggage.service.ts
  server/services/bookings.service.ts
  server/services/corporate.service.ts
  server/services/email.service.ts
  server/services/eticket.service.ts
  server/services/family-pool.service.ts
  server/services/flight-status.service.ts
  server/services/price-lock.service.ts
  server/services/refunds.service.ts
  server/services/soft-delete.service.ts
  server/services/special-services.service.ts
  server/services/waitlist.service.ts
  server/services/wallet.service.ts
  server/webhooks/stripe.ts
Due: unittests, server, client

fix: merge main and fix CHANGELOG.md prettier formatting
  CHANGELOG.md
Due: none

fix: mock loyalty tests and add missing env vars documentation
  .env.example
  .env.prod.example
  server/services/loyalty.service.test.ts
Due: none

fix: prevent Sentry crash with invalid/placeholder DSN values
  .env.example
  .env.prod.example
  client/src/lib/sentry.ts
  server/services/sentry.service.ts
Due: unittests, server, client

Fix Prettier formatting in sentry files
  client/src/lib/sentry.ts
  server/services/sentry.service.ts
Due: unittests, server, client

Path conditions:
  unittests: any of: server/, client/src/, shared/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/test/**, **/mocks/**, **/__mocks__/**, **/drizzle/migrations/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/vitest.config.ts, **/vite.config.ts
  server: any of: server/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/test/**, **/mocks/**, **/__mocks__/**, **/drizzle/migrations/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/vitest.config.ts, **/vite.config.ts
  client: any of: client/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/test/**, **/mocks/**, **/__mocks__/**, **/drizzle/migrations/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/vitest.config.ts, **/vite.config.ts
