Repository kafaat/ais-aviation-system: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, server, client

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage configuration
coverage:
  # Precision of coverage percentage
  precision: 2
  # Rounding method (down, up, nearest)
  round: down
  # Range for coverage color coding [red, green]
  range: "50...100"

  # Status checks configuration
  status:
    # Project-level coverage status
    project:
      default:
        # Target coverage percentage
        target: 80%
        # Threshold for coverage changes (allow small drops)
        threshold: 1%
        # Only consider this status after n builds
        # if_ci_failed: error
        # Only run on these paths
        paths:
          - "server/**"
          - "client/src/**"
          - "shared/**"
        # Exclude these paths
        exclude:
          - "**/*.test.ts"
          - "**/*.test.tsx"
          - "**/*.spec.ts"
          - "**/node_modules/**"
          - "**/dist/**"
          - "**/drizzle/migrations/**"

      # Separate status for server code
      server:
        target: 80%
        threshold: 1%
        paths:
          - "server/**"
        flags:
          - server

      # Separate status for client code
      client:
        target: 75%
        threshold: 2%
        paths:
          - "client/src/**"
        flags:
          - client

    # Patch coverage (coverage on changed lines)
    patch:
      default:
        target: 70%
        threshold: 5%
        # Only run patch on PRs
        only_pulls: true

# Flags configuration
flags:
  unittests:
    paths:
      - server/
      - client/src/
      - shared/
    carryforward: true

  server:
    paths:
      - server/
    carryforward: true

  client:
    paths:
      - client/src/
    carryforward: true

# Comment configuration for PRs
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"
  # Behavior of the comment (default, once, new, etc.)
  behavior: default
  # Require changes to post a comment
  require_changes: false
  # Require base coverage for comparison
  require_base: false
  # Require head coverage for comparison
  require_head: true
  # Show project coverage
  show_project_coverage: true

# Ignore certain paths from coverage
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test/**"
  - "**/mocks/**"
  - "**/__mocks__/**"
  - "**/drizzle/migrations/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vitest.config.ts"
  - "**/vite.config.ts"

# Parsers configuration
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

# GitHub checks configuration
github_checks:
  annotations: true

fix: remove unused imports across client pages and admin dashboards
  client/src/contexts/ThemeContext.tsx
  client/src/pages/CheckIn.tsx
  client/src/pages/GroupBookingRequest.tsx
  client/src/pages/Home.tsx
  client/src/pages/PriceAlerts.tsx
  client/src/pages/SearchResults.tsx
  client/src/pages/admin/AIPricingDashboard.tsx
  client/src/pages/admin/AnalyticsDashboard.tsx
  client/src/pages/admin/BagDropManagement.tsx
  client/src/pages/admin/CompensationManagement.tsx
  client/src/pages/admin/CorporateManagement.tsx
  client/src/pages/admin/DisasterRecovery.tsx
  client/src/pages/admin/RefundsDashboard.tsx
  client/src/pages/admin/ReportsDashboard.tsx
  client/src/pages/admin/SLADashboard.tsx
  client/src/pages/admin/TravelAgentManagement.tsx
  client/src/pages/admin/VoucherManagement.tsx
  client/src/pages/corporate/CorporateDashboard.tsx
  server/services/redis-cache.service.ts
Due: unittests, server, client

fix: remove unused imports in server core, services, and queue modules
  server/_core/context.ts
  server/_core/cookies.ts
  server/_core/correlation.ts
  server/_core/logger.ts
  server/_core/requestId.ts
  server/db.ts
  server/queue/queues.ts
  server/services/analytics.service.ts
  server/services/ancillary-services.service.ts
  server/services/biometric.service.ts
  server/services/compensation.service.ts
  server/services/disruption.service.ts
  server/services/email.service.ts
  server/services/eticket.service.ts
  server/services/favorites.service.ts
  server/services/irops.service.ts
  server/services/metrics.service.ts
  server/services/revenue-accounting.service.ts
  server/services/sla-monitoring.service.ts
  server/services/smart-suggestions.service.ts
Due: unittests, server

fix: prefix unused variables, replace last console.log calls
  client/src/pages/corporate/CorporateDashboard.tsx
  e2e/admin.spec.ts
  e2e/profile.spec.ts
  e2e/search.spec.ts
  server/__tests__/integration/critical-paths.test.ts
  server/__tests__/integration/p0-features.test.ts
  server/queue/workers/reconciliation.worker.ts
  server/services/ancillary-services.service.ts
  server/services/currency/currency.service.ts
  server/services/report-export.service.test.ts
  server/services/saved-passengers.service.test.ts
Due: unittests, server, client

fix: resolve require-await warnings across client, server, and test files
  client/src/lib/auth-fetch.ts
  client/src/pages/Login.tsx
  client/src/test/setup.ts
  e2e/fixtures/test-helpers.ts
  server/__tests__/new-features/ai-pricing-orchestrator.test.ts
  server/__tests__/new-features/payment-history.test.ts
  server/__tests__/new-features/waitlist.test.ts
  server/_core/index.ts
  server/_core/sdk.ts
  server/_core/trpc.ts
  server/db.ts
  server/services/bag-drop.service.ts
  server/services/biometric.service.ts
  server/services/cache-v2.service.ts
  server/services/cache.service.ts
  server/services/health.service.ts
  server/services/loyalty.service.test.ts
Due: unittests, server, client

fix: resolve require-await in currency, disaster-recovery, emergency-hotel, sms services
  server/services/currency/currency.service.ts
  server/services/disaster-recovery.service.ts
  server/services/emergency-hotel.service.ts
  server/services/sms.service.ts
Due: unittests, server

fix: additional require-await fixes in auth-fetch, Login, db, sms services
  client/src/lib/auth-fetch.ts
  client/src/pages/Login.tsx
  server/db.ts
  server/services/sms.service.ts
Due: unittests, server, client

feat: add Intelligence Kernel (AAIP) - multi-agent autonomous platform
  drizzle/schema.ts
  server/routers.ts
  server/routers/intelligence.router.ts
  server/services/intelligence/economics.agent.ts
  server/services/intelligence/fraud.agent.ts
  server/services/intelligence/gateway.ts
  server/services/intelligence/index.ts
  server/services/intelligence/kernel.ts
  server/services/intelligence/operations.agent.ts
  server/services/intelligence/types.ts
Due: unittests, server

fix: remove unnecessary async from signSession in sdk.ts
  server/_core/sdk.ts
Due: unittests, server

fix(docker): harden auth-service Dockerfile against DNS resolution failures
  auth-service/Dockerfile
Due: none

style: fix Prettier formatting in CHANGELOG.md
  CHANGELOG.md
Due: none

fix: critical bug fixes and comprehensive type safety improvements
  client/src/contexts/AuthContext.tsx
  client/src/pages/Home.tsx
  client/src/pages/SearchResults.tsx
  server/_core/correlation.ts
  server/_core/errors.ts
  server/queue/workers/email.worker.ts
  server/queue/workers/reconciliation.worker.ts
  server/services/audit.service.ts
  server/services/bookings.service.ts
  server/services/cache.service.ts
  server/services/corporate.service.ts
  server/services/fare-rules.service.ts
  server/services/gdpr.service.ts
  server/services/group-booking.service.ts
  server/services/idempotency.service.ts
  server/services/load-planning.service.ts
  server/services/loyalty.service.ts
  server/services/metrics.service.ts
  server/services/mobile-auth.service.ts
  server/services/payment-providers/stripe.provider.ts
  server/services/payments.service.ts
  server/services/pricing/customer-segmentation.service.ts
  server/services/pricing/revenue-optimization.service.ts
  server/services/redis-cache.service.ts
  server/services/refunds.service.ts
  server/services/seat-map.service.ts
  server/storage.ts
  server/webhooks/stripe.ts
Due: unittests, server, client

fix: comprehensive review - service bugs, type safety, docs update
  CHANGELOG.md
  docs/SECURITY.md
  server/_core/correlation.ts
  server/routers/intelligence.router.ts
  server/services/ancillary-services.service.ts
  server/services/fare-rules.service.ts
  server/services/group-booking.service.test.ts
  server/services/intelligence/kernel.ts
  server/services/load-planning.service.ts
  server/services/loyalty.service.ts
Due: unittests, server

fix: comprehensive service audit - transactions, validation, performance
  CHANGELOG.md
  docs/DEVELOPER_GUIDE.md
  server/db.ts
  server/services/cancellation-fees.service.ts
  server/services/dcs.service.ts
  server/services/disruption.service.ts
  server/services/kiosk.service.ts
  server/services/notification.service.ts
  server/services/rebooking.service.ts
  server/services/split-payment.service.ts
Due: unittests, server

fix(lint): resolve remaining require-await warnings
  server/services/notification.service.ts
  server/services/stripe-webhook-v2.service.ts
Due: unittests, server

fix: deep audit and fix all server/services/ (34 files, 50+ bugs)
  server/services/account-lock.service.ts
  server/services/analytics.service.ts
  server/services/apis.service.ts
  server/services/bag-drop.service.ts
  server/services/biometric.service.ts
  server/services/codeshare.service.ts
  server/services/compensation.service.ts
  server/services/crew-assignment.service.ts
  server/services/data-warehouse.service.ts
  server/services/db-optimizer.service.ts
  server/services/disaster-recovery.service.ts
  server/services/emergency-hotel.service.ts
  server/services/eticket.service.ts
  server/services/flight-tracking.service.ts
  server/services/idempotency-v2.service.ts
  server/services/irops.service.ts
  server/services/mfa.service.ts
  server/services/mobile-auth-v2.service.ts
  server/services/multi-city.service.ts
  server/services/multi-region.service.ts
  server/services/ndc.service.ts
  server/services/passenger-priority.service.ts
  server/services/price-lock.service.ts
  server/services/production.service.ts
  server/services/queue-v2.service.ts
  server/services/queue.service.ts
  server/services/revenue-accounting.service.ts
  server/services/security.service.ts
  server/services/sla-monitoring.service.ts
  server/services/stripe-webhook.service.ts
  server/services/travel-scenarios.service.ts
  server/services/wallet.service.ts
  server/services/websocket.service.ts
  server/services/weight-balance.service.ts
Due: unittests, server

fix(ci): add Playwright globalTimeout and reduce E2E job timeout
  .github/workflows/ci-cd.yml
  playwright.config.ts
Due: none

fix(e2e): resolve strict mode violation on password field selector
  e2e/admin.spec.ts
  e2e/auth.spec.ts
  e2e/checkout.spec.ts
  e2e/fixtures/test-helpers.ts
  e2e/profile.spec.ts
  e2e/security.spec.ts
Due: none

fix(e2e): resolve login button strict mode violation (3 elements)
  client/src/pages/Login.tsx
  e2e/admin.spec.ts
  e2e/auth.spec.ts
  e2e/checkout.spec.ts
  e2e/fixtures/test-helpers.ts
  e2e/profile.spec.ts
  e2e/security.spec.ts
Due: unittests, client

fix(ci): add auth service to E2E job for login support
  .github/workflows/ci-cd.yml
Due: none

fix(tests): resolve all 19 failing test files (0 failures now)
  server/__tests__/integration/critical-paths.test.ts
  server/__tests__/test-db-helper.ts
  server/bookings.test.ts
  server/flights.test.ts
  server/services/ancillary-services.service.test.ts
  server/services/baggage.service.test.ts
  server/services/booking-with-ancillaries.test.ts
  server/services/corporate.service.test.ts
  server/services/favorites.service.test.ts
  server/services/flight-status.service.test.ts
  server/services/group-booking.service.test.ts
  server/services/notification.service.test.ts
  server/services/payments.service.ts
  server/services/price-alerts.service.test.ts
  server/services/refunds.service.ts
  server/services/reviews.service.test.ts
  server/services/saved-passengers.service.test.ts
  server/services/special-services.service.test.ts
  server/services/stripe-webhook.service.ts
  server/services/user-preferences.service.test.ts
  server/stripe.ts
Due: unittests, server

fix(e2e): seed test users before E2E tests to fix login timeouts
  .github/workflows/ci-cd.yml
  e2e/global-setup.ts
  playwright.config.ts
Due: none

fix: correct expiration period calculation in split payment test
  server/services/split-payment.service.test.ts
Due: none

fix(security): enforce tenant isolation on ID-based endpoints + sync docs
  README.md
  docs/SECURITY.md
  server/routers/baggage.ts
  server/routers/corporate.ts
  server/routers/modifications.ts
  server/routers/refunds.ts
  server/routers/split-payments.ts
  server/services/access-control.service.test.ts
  server/services/access-control.service.ts
  server/services/corporate.service.ts
Due: unittests, server

docs: add Airline SaaS gap analysis & phased architecture proposal
  docs/AIRLINE_SAAS_GAP_ANALYSIS.md
Due: none

docs: add AI agent operations & development ideas (inspired by PilotDeck)
  docs/AI_AGENT_OPERATIONS_IDEAS.md
Due: none

feat(revenue+ai): per-seat economics + AI cost attribution & decision overrides
  README.md
  docs/AI_AGENT_OPERATIONS_IDEAS.md
  drizzle/migrations/0006_ai_governance.sql
  drizzle/schema.ts
  server/routers.ts
  server/routers/agent-governance.ts
  server/routers/seat-economics.ts
  server/services/agent-governance.service.test.ts
  server/services/agent-governance.service.ts
  server/services/intelligence/gateway.ts
  server/services/seat-economics.service.test.ts
  server/services/seat-economics.service.ts
Due: unittests, server

feat(saas): multi-tenancy foundation (Phase 0) + seat-economics/AI-cost dashboard
  README.md
  client/src/App.tsx
  client/src/components/DashboardLayout.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/admin/SeatEconomics.tsx
  docs/AIRLINE_SAAS_GAP_ANALYSIS.md
  drizzle/migrations/0007_multi_tenancy_foundation.sql
  drizzle/schema.ts
  server/_core/context.ts
  server/services/access-control.service.test.ts
  server/services/access-control.service.ts
  server/services/tenant.service.ts
Due: unittests, server, client

feat(saas): tenant-scope core tables + migration-aware query helpers (Phase 0 step 2)
  README.md
  docs/AIRLINE_SAAS_GAP_ANALYSIS.md
  drizzle/migrations/0008_tenant_scope_core_tables.sql
  drizzle/schema.ts
  server/routers/seat-economics.ts
  server/services/seat-economics.service.ts
  server/services/tenant-scope.service.test.ts
  server/services/tenant-scope.service.ts
Due: unittests, server

feat(pricing): customer-facing price quote (reference gap-fill) + mapping doc
  README.md
  docs/REFERENCE_GAP_FILL.md
  server/routers.ts
  server/routers/price-quote.ts
  server/services/price-quote.service.test.ts
  server/services/price-quote.service.ts
Due: unittests, server

feat(boarding-pass): cryptographically signed, offline-verifiable boarding pass
  README.md
  docs/REFERENCE_GAP_FILL.md
  server/routers.ts
  server/routers/boarding-pass.ts
  server/services/boarding-pass.service.test.ts
  server/services/boarding-pass.service.ts
Due: unittests, server

refactor(resilience): protect auth-service client with the circuit breaker + tests
  docs/REFERENCE_GAP_FILL.md
  server/services/auth-service.client.ts
  server/services/circuit-breaker.test.ts
Due: unittests, server

feat(events): transactional outbox — event-driven foundation (Phase 1)
  README.md
  docs/AIRLINE_SAAS_GAP_ANALYSIS.md
  drizzle/migrations/0009_outbox.sql
  drizzle/schema.ts
  server/services/agent-governance.service.test.ts
  server/services/agent-governance.service.ts
  server/services/outbox.service.test.ts
  server/services/outbox.service.ts
Due: unittests, server

feat: implement the safe, infra-free batch of remaining gaps
  docs/AIRLINE_SAAS_GAP_ANALYSIS.md
  docs/AI_AGENT_OPERATIONS_IDEAS.md
  server/services/agent-governance.service.test.ts
  server/services/agent-governance.service.ts
  server/services/ai-guardrails.service.ts
  server/services/ai-guardrails.tenant.test.ts
  server/services/cron.service.ts
  server/services/outbox.service.test.ts
  server/services/outbox.service.ts
  server/services/sms.service.ts
Due: unittests, server

feat(ndc): formal ONE Order state machine + lifecycle domain events
  README.md
  docs/REFERENCE_GAP_FILL.md
  server/services/ndc-order-state.test.ts
  server/services/ndc-order-state.ts
  server/services/ndc.service.ts
Due: unittests, server

feat(events): emit transactional outbox events on payment, refund & ticketing
  server/services/eticket.service.ts
  server/services/stripe-webhook.service.ts
Due: unittests, server

style: apply prettier formatting to CHANGELOG.md
  CHANGELOG.md
Due: none

ci: run E2E seed script with tsx so the schema import resolves
  .github/workflows/ci-cd.yml
Due: none

fix(seed): add canonical db:seed script and fix node→tsx invocation
  .github/workflows/ci-cd.yml
  docs/FLIGHTS_TABLE.md
  package.json
Due: none

test(e2e): fix Playwright strict-mode violations in boolean visibility probes
  e2e/admin.spec.ts
  e2e/auth.spec.ts
  e2e/checkout.spec.ts
Due: none
