Repository kafaat/ais-aviation-system: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, server, client

Fix CHANGELOG.md Prettier formatting after merge from main
  CHANGELOG.md
Due: none

docs: comprehensive documentation update for all sessions and phases
  CHANGELOG.md
  README.md
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/DEVELOPER_GUIDE.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
Due: none

fix: prevent crash when VITE_OAUTH_PORTAL_URL is not configured
  client/src/_core/hooks/useAuth.ts
  client/src/const.ts
Due: unittests, client

fix: Login button now navigates to dedicated /login page
  client/src/App.tsx
  client/src/_core/hooks/useAuth.ts
  client/src/components/DashboardLayout.tsx
  client/src/components/JoinWaitlistDialog.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/main.tsx
  client/src/pages/AdminDashboard.tsx
  client/src/pages/AnalyticsDashboard.tsx
  client/src/pages/BookingPage.tsx
  client/src/pages/CheckIn.tsx
  client/src/pages/Home.tsx
  client/src/pages/Login.tsx
  client/src/pages/MyBookings.tsx
  client/src/pages/MyWaitlist.tsx
  client/src/pages/Notifications.tsx
  client/src/pages/RebookPage.tsx
Due: unittests, client

fix: login button now navigates to dedicated /login page
  CHANGELOG.md
Due: none

fix: address security vulnerabilities and race conditions
  drizzle/schema.ts
  server/_core/sdk.ts
  server/routers/metrics.ts
  server/services/loyalty.service.ts
  server/services/voucher.service.ts
  server/services/waitlist.service.ts
  server/webhooks/stripe.ts
Due: unittests, server

fix: UI fixes - icons, RTL support, accessibility, and dead links
  client/src/components/AncillarySelection.tsx
  client/src/components/GateChangeAlert.tsx
  client/src/components/GateDisplay.tsx
  client/src/components/InstallPrompt.tsx
  client/src/components/LanguageSwitcher.tsx
  client/src/components/SearchHistory.tsx
  client/src/components/ui/table.tsx
  client/src/pages/Home.tsx
  client/src/pages/LoyaltyDashboard.tsx
  client/src/pages/MyBookings.tsx
  client/src/pages/MyWaitlist.tsx
  client/src/pages/PaymentHistory.tsx
  client/src/pages/RebookPage.tsx
  client/src/pages/admin/AnalyticsDashboard.tsx
  client/src/pages/admin/DeletedBookings.tsx
Due: unittests, client

fix: resolve CI lint warnings and Docker build failure
  client/src/components/MealPreOrder.tsx
  client/src/components/PriceLockButton.tsx
  package.json
Due: unittests, client

fix: deep UI audit - critical bugs, RTL, accessibility, and cleanup
  client/src/components/AdminRoute.tsx
  client/src/components/AdvancedFilters.tsx
  client/src/components/BaggageTracker.tsx
  client/src/components/BookingForm.tsx
  client/src/components/CancelBookingDialog.tsx
  client/src/components/CreatePriceAlertDialog.tsx
  client/src/components/DashboardLayout.tsx
  client/src/components/FlightCompare.tsx
  client/src/components/FlightReviewsSection.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/components/PriceLockButton.tsx
  client/src/components/VoucherInput.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/BookingPage.tsx
  client/src/pages/CheckIn.tsx
  client/src/pages/ComponentShowcase.tsx
  client/src/pages/MyWaitlist.tsx
  client/src/pages/PaymentHistory.tsx
  client/src/pages/SearchResults.tsx
  client/src/pages/UserProfile.tsx
  client/src/pages/admin/CorporateManagement.tsx
  client/src/pages/corporate/CorporateBookings.tsx
  client/src/pages/corporate/CorporateDashboard.tsx
Due: unittests, client

fix: resolve 5 critical middleware bugs found in deep review
  server/_core/index.ts
  server/_core/middleware/agent-api.middleware.ts
  server/_core/middleware/request-id.middleware.ts
  server/_core/middleware/sentry.middleware.ts
  server/_core/trpc.ts
Due: unittests, server

fix: comprehensive backend review - 28 files, security and correctness fixes
  server/db.ts
  server/jobs/check-in-reminder.job.ts
  server/queue/workers/index.ts
  server/routers/cache.ts
  server/routers/favorites.ts
  server/routers/flights.ts
  server/routers/health.ts
  server/routers/multi-city.ts
  server/routers/reviews.ts
  server/routers/sms.ts
  server/services/cache-v2.service.ts
  server/services/cache.service.ts
  server/services/cron.service.ts
  server/services/dynamic-pricing.service.ts
  server/services/email.service.ts
  server/services/flight-status.service.ts
  server/services/inventory-lock.service.ts
  server/services/inventory/inventory.service.ts
  server/services/multi-city.service.ts
  server/services/notification.service.ts
  server/services/payments.service.ts
  server/services/pricing/dynamic-pricing.service.ts
  server/services/queue-v2.service.ts
  server/services/queue.service.ts
  server/services/rate-limit.service.ts
  server/services/redis-cache.service.ts
  server/services/reviews.service.ts
  server/services/sms.service.ts
Due: unittests, server

fix: remove stale patchedDependencies from lockfile
  pnpm-lock.yaml
Due: none

style: fix CHANGELOG.md Prettier formatting
  CHANGELOG.md
Due: none

fix: resolve 8 failing test cases across 4 test files
  server/__tests__/new-features/waitlist.test.ts
  server/auth.logout.test.ts
  server/services/flight-status.service.test.ts
  server/services/loyalty.service.test.ts
Due: none

Fix duplicate 'db' variable declaration in flight-status test
  server/services/flight-status.service.test.ts
Due: none

feat: implement AI dynamic pricing system with ML demand forecasting, customer segmentation, revenue optimization, and A/B testing
  client/src/App.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/admin/AIPricingDashboard.tsx
  drizzle/schema.ts
  server/routers.ts
  server/routers/ai-pricing.router.ts
  server/services/pricing/ab-testing.service.ts
  server/services/pricing/ai-pricing.service.ts
  server/services/pricing/customer-segmentation.service.ts
  server/services/pricing/demand-forecasting.service.ts
  server/services/pricing/dynamic-pricing.service.ts
  server/services/pricing/revenue-optimization.service.ts
Due: unittests, server, client

fix: integrate AI pricing with booking flow and add comprehensive tests
  client/src/components/DashboardLayout.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  server/__tests__/new-features/ab-testing-revenue.test.ts
  server/__tests__/new-features/ai-pricing-orchestrator.test.ts
  server/__tests__/new-features/customer-segmentation.test.ts
  server/__tests__/new-features/demand-forecasting.test.ts
  server/routers/pricing.router.ts
  server/services/bookings.service.ts
  server/services/flights.service.ts
Due: unittests, server, client

style: fix CHANGELOG.md formatting after merge from main
  CHANGELOG.md
Due: none

login error 404 not found
  client/index.html
  client/public/icon-192.png
  client/public/icon-512.png
  docker-reset.ps1
Due: none

fix: add E2E test support with data-testid attributes and dev login form
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/AdminDashboard.tsx
  client/src/pages/BookingPage.tsx
  client/src/pages/Home.tsx
  client/src/pages/Login.tsx
  client/src/pages/Profile.tsx
  client/src/pages/SearchResults.tsx
  server/routers/auth.ts
Due: unittests, server, client

style: format index.html after merge from main
  client/index.html
Due: none

fix: resolve non-DB E2E test failures
  client/src/components/AdminRoute.tsx
  e2e/security.spec.ts
  server/_core/index.ts
Due: unittests, server, client

fix: resolve login 404 by fixing CSP, service worker, and PWA config
  client/public/sw.js
  client/src/main.tsx
  nginx.conf
  vite.config.ts
Due: unittests, client

feat: add FastAPI auth service with password-based authentication
  .env.example
  auth-service/.dockerignore
  auth-service/Dockerfile
  auth-service/config.py
  auth-service/main.py
  auth-service/models.py
  auth-service/requirements.txt
  auth-service/schemas.py
  client/src/components/FlightStatusBadge.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/Login.tsx
  client/src/pages/NotFound.tsx
  docker-compose.prod.yml
  docker-compose.production.yml
  docker-compose.yml
  drizzle/schema.ts
  server/_core/env.ts
  server/routers/auth.ts
  server/services/auth-service.client.ts
  server/services/mobile-auth.service.ts
Due: unittests, server, client

chore(release): v1.9.1 - docs update and security fixes
  CHANGELOG.md
  CLAUDE.md
  README.md
  auth-service/requirements.txt
  package.json
Due: none

Auth service not registered
  auth-service/Dockerfile
  auth-service/requirements.txt
Due: none

fix: improve accessibility across all major pages (WCAG compliance)
  client/src/components/BookingForm.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/BookingPage.tsx
  client/src/pages/CheckIn.tsx
  client/src/pages/Login.tsx
  client/src/pages/NotFound.tsx
  client/src/pages/PaymentHistory.tsx
  client/src/pages/Profile.tsx
  client/src/pages/SearchResults.tsx
Due: unittests, client

fix: format CHANGELOG.md after merge from main
  CHANGELOG.md
Due: none

fix: add kubeconfig validation to prevent deploy failures
  .github/workflows/ci-cd.yml
Due: none

feat: add Sanaa, Aden, and Muscat destinations with airlines and flights
  scripts/seed-data.mjs
Due: none

docs: update documentation for new destinations and currencies
  docs/DEVELOPER_GUIDE.md
  docs/P0_CRITICAL_FEATURES.md
  docs/analysis/FINAL_REPORT.md
  docs/guides/COMPREHENSIVE_GUIDE_EN.md
  docs/improvements/IMPROVEMENTS_PLAN.md
Due: none

feat: add aircraft type models to seed data (A320, A330, A350, B727, B737, B777, B787)
  scripts/seed-data.mjs
Due: none

feat: make SeatMap display aircraft-specific seat layouts
  client/src/components/SeatMap.tsx
  client/src/pages/CheckIn.tsx
Due: unittests, client

feat: integrate SeatMap component into booking flow
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/BookingPage.tsx
Due: unittests, client

fix: format CHANGELOG.md for Prettier CI check
  CHANGELOG.md
Due: none

fix: rewrite CHANGELOG.md with consistent format and fix version-bump script
  CHANGELOG.md
  scripts/version-bump.sh
Due: none

Path conditions:
  unittests: any of: server/, client/src/, shared/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/test/**, **/mocks/**, **/__mocks__/**, **/drizzle/migrations/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/vitest.config.ts, **/vite.config.ts
  server: any of: server/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/test/**, **/mocks/**, **/__mocks__/**, **/drizzle/migrations/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/vitest.config.ts, **/vite.config.ts
  client: any of: client/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/test/**, **/mocks/**, **/__mocks__/**, **/drizzle/migrations/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/vitest.config.ts, **/vite.config.ts
