Repository kafaat/ais-aviation-system: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, server, client

fix: handle repository-dispatch permission issue gracefully
  .github/workflows/release.yml
Due: none

fix: resolve duplicate import errors in MyBookings and SearchResults
  client/src/pages/MyBookings.tsx
  client/src/pages/SearchResults.tsx
Due: unittests, client

fix: make dependency review optional when Dependency Graph is disabled
  .github/workflows/pr-checks.yml
Due: none

fix: update lockfile and fix breaking changes check script
  .github/workflows/pr-checks.yml
  pnpm-lock.yaml
Due: none

feat: complete voucher/credits system and Phase 2 features
  client/src/App.tsx
  client/src/components/CreditBalance.tsx
  client/src/components/VoucherInput.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/BookingPage.tsx
  client/src/pages/admin/VoucherManagement.tsx
  server/services/voucher.service.test.ts
Due: unittests, client

feat: add gate management UI and translations
  client/src/App.tsx
  client/src/components/GateChangeAlert.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/admin/GateManagement.tsx
Due: unittests, client

style: fix prettier formatting issues
  CHANGELOG.md
  client/src/App.tsx
  client/src/components/CreditBalance.tsx
  client/src/components/GateChangeAlert.tsx
  client/src/components/VoucherInput.tsx
  client/src/pages/BookingPage.tsx
  client/src/pages/admin/GateManagement.tsx
  client/src/pages/admin/VoucherManagement.tsx
  drizzle/schema.ts
  server/routers/gates.ts
  server/routers/sms.ts
  server/services/gate.service.ts
  server/services/price-calendar.service.ts
  server/services/sms.service.ts
  server/services/split-payment.service.test.ts
  server/services/travel-agent.service.test.ts
  server/services/voucher.service.test.ts
  server/services/voucher.service.ts
Due: unittests, server, client

Update CHANGELOG.md for version 1.2.0
  CHANGELOG.md
Due: none

docs: update CLAUDE.md with Phase 2 features documentation
  CLAUDE.md
Due: none

fix: resolve lint errors (duplicate imports and prefer-const)
  CHANGELOG.md
  client/src/pages/BookingPage.tsx
  server/services/sms.service.ts
  server/services/travel-agent.service.test.ts
Due: unittests, server, client

fix: resolve gitleaks commit range error in CI
  .github/workflows/ci-cd.yml
Due: none

fix: add fetch-depth for gitleaks to access commit history
  .github/workflows/ci-cd.yml
Due: none

fix: add --force flag to db:push for non-interactive CI
  .github/workflows/ci-cd.yml
Due: none

fix: resolve test failures in CI
  server/services/booking-with-ancillaries.test.ts
  server/services/corporate.service.test.ts
  server/services/db-optimizer.service.ts
Due: unittests, server

fix: add booking ownership verification to ancillary service endpoints
  server/routers/ancillary.ts
Due: unittests, server

style: fix Prettier formatting in ancillary router
  server/routers/ancillary.ts
Due: unittests, server

style: fix Prettier formatting in CHANGELOG.md
  CHANGELOG.md
Due: none

fix: align test fixtures with current database schema
  server/services/booking-with-ancillaries.test.ts
  server/services/corporate.service.test.ts
Due: none

fix: remove non-existent password field from test user inserts
  server/services/booking-with-ancillaries.test.ts
  server/services/corporate.service.test.ts
Due: none

fix: resolve 41 lint warnings across client and server
  client/public/sw.js
  client/src/components/AIChatBooking.tsx
  client/src/components/AncillarySelection.tsx
  client/src/components/BookingAncillariesDisplay.tsx
  client/src/components/FlightComparison.tsx
  client/src/components/FlightStatusBadge.tsx
  client/src/components/ManageAncillariesDialog.tsx
  client/src/components/ModifyBookingDialog.tsx
  client/src/components/NotificationBell.tsx
  client/src/components/NotificationDropdown.tsx
  client/src/components/SearchHistory.tsx
  client/src/components/SplitPaymentForm.tsx
  client/src/components/VoucherInput.tsx
  client/src/components/__tests__/BookingForm.test.tsx
  client/src/components/__tests__/SearchForm.test.tsx
  client/src/components/__tests__/UserProfile.test.tsx
  client/src/contexts/AuthContext.tsx
  client/src/hooks/useNotifications.ts
  server/routers/gates.ts
  server/services/report-export.service.ts
  server/webhooks/stripe.ts
Due: unittests, server, client

chore: update CodeQL to v4 and fix coverage thresholds
  .github/workflows/ci-cd.yml
  vitest.config.ts
Due: none

style: fix prettier formatting
  CHANGELOG.md
  client/src/components/ModifyBookingDialog.tsx
  server/routers/gates.ts
Due: unittests, server, client

fix: update critical-paths.test.ts to use correct schema
  server/__tests__/integration/critical-paths.test.ts
Due: none

fix: improve test mocks to work without database connection
  server/__tests__/new-features/currency.test.ts
  server/__tests__/new-features/waitlist.test.ts
  server/services/db-optimizer.service.test.ts
Due: none

feat: add price lock, meal pre-order, and family mile pooling features
  client/src/components/FamilyPoolCard.tsx
  client/src/components/MealPreOrder.tsx
  client/src/components/PriceLockButton.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  drizzle/schema.ts
  server/routers.ts
  server/routers/family-pool.ts
  server/routers/price-lock.ts
  server/services/family-pool.service.ts
  server/services/price-lock.service.ts
Due: unittests, server, client

feat: integrate interactive seat map into check-in and add calendar export
  CHANGELOG.md
  client/src/components/DownloadTicketButtons.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/CheckIn.tsx
  client/src/pages/MyBookings.tsx
  server/routers/eticket.ts
Due: unittests, server, client

feat: add digital wallet, enhanced price calendar, and disruption hub
  client/src/components/DisruptionHub.tsx
  client/src/components/PriceCalendarView.tsx
  client/src/components/WalletCard.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  drizzle/schema.ts
  server/routers.ts
  server/routers/disruptions.ts
  server/routers/wallet.ts
  server/services/disruption.service.ts
  server/services/wallet.service.ts
Due: unittests, server, client

style: fix Prettier formatting across 9 files
  CHANGELOG.md
  client/src/components/WalletCard.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  drizzle/schema.ts
  server/routers/wallet.ts
  server/services/disruption.service.ts
  server/services/family-pool.service.ts
  server/services/price-lock.service.ts
Due: unittests, server, client

fix: use insertId fallback pattern in test beforeAll hooks
  server/services/booking-with-ancillaries.test.ts
  server/services/corporate.service.test.ts
  server/services/group-booking.service.test.ts
Due: none

style: fix Prettier formatting in corporate.service.test.ts
  server/services/corporate.service.test.ts
Due: none

feat: add rebooking from previous booking feature
  client/src/App.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/BookingPage.tsx
  client/src/pages/MyBookings.tsx
  client/src/pages/RebookPage.tsx
  server/routers.ts
  server/routers/rebooking.ts
  server/services/rebooking.service.ts
Due: unittests, server, client

style: format migration meta files
  drizzle/migrations/meta/0000_snapshot.json
  drizzle/migrations/meta/_journal.json
Due: none

feat: add 6 travel scenarios - pricing, validation, auto check-in, sharing, carbon, travel docs
  client/src/components/AutoCheckInToggle.tsx
  client/src/components/CarbonOffset.tsx
  client/src/components/ItineraryShare.tsx
  client/src/components/TravelRequirements.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/BookingPage.tsx
  client/src/pages/MyBookings.tsx
  client/src/pages/Profile.tsx
  drizzle/schema.ts
  server/routers.ts
  server/routers/bookings.ts
  server/routers/travel-scenarios.ts
  server/services/bookings.service.ts
  server/services/flights.service.ts
  server/services/travel-scenarios.service.ts
Due: unittests, server, client

style: fix Prettier formatting on files from main merge
  CHANGELOG.md
  server/__tests__/new-features/currency.test.ts
  server/__tests__/new-features/waitlist.test.ts
Due: none

fix: resolve 5 pre-existing test failures in CI
  server/__tests__/integration/critical-paths.test.ts
  server/services/group-booking.service.test.ts
  server/services/notification.service.test.ts
  server/services/production-ready.test.ts
  server/services/special-services.service.test.ts
Due: none

Path conditions:
  unittests: any of: server/, client/src/, shared/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/test/**, **/mocks/**, **/__mocks__/**, **/drizzle/migrations/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/vitest.config.ts, **/vite.config.ts
  server: any of: server/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/test/**, **/mocks/**, **/__mocks__/**, **/drizzle/migrations/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/vitest.config.ts, **/vite.config.ts
  client: any of: client/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/test/**, **/mocks/**, **/__mocks__/**, **/drizzle/migrations/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/vitest.config.ts, **/vite.config.ts
