Repository kafaat/ais-aviation-system: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, server, client

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage configuration
coverage:
  # Precision of coverage percentage
  precision: 2
  # Rounding method (down, up, nearest)
  round: down
  # Range for coverage color coding [red, green]
  range: "50...100"

  # Status checks configuration
  status:
    # Project-level coverage status
    project:
      default:
        # Target coverage percentage
        target: 80%
        # Threshold for coverage changes (allow small drops)
        threshold: 1%
        # Only consider this status after n builds
        # if_ci_failed: error
        # Only run on these paths
        paths:
          - "server/**"
          - "client/src/**"
          - "shared/**"
        # Exclude these paths
        exclude:
          - "**/*.test.ts"
          - "**/*.test.tsx"
          - "**/*.spec.ts"
          - "**/node_modules/**"
          - "**/dist/**"
          - "**/drizzle/migrations/**"

      # Separate status for server code
      server:
        target: 80%
        threshold: 1%
        paths:
          - "server/**"
        flags:
          - server

      # Separate status for client code
      client:
        target: 75%
        threshold: 2%
        paths:
          - "client/src/**"
        flags:
          - client

    # Patch coverage (coverage on changed lines)
    patch:
      default:
        target: 70%
        threshold: 5%
        # Only run patch on PRs
        only_pulls: true

# Flags configuration
flags:
  unittests:
    paths:
      - server/
      - client/src/
      - shared/
    carryforward: true

  server:
    paths:
      - server/
    carryforward: true

  client:
    paths:
      - client/src/
    carryforward: true

# Comment configuration for PRs
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"
  # Behavior of the comment (default, once, new, etc.)
  behavior: default
  # Require changes to post a comment
  require_changes: false
  # Require base coverage for comparison
  require_base: false
  # Require head coverage for comparison
  require_head: true
  # Show project coverage
  show_project_coverage: true

# Ignore certain paths from coverage
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test/**"
  - "**/mocks/**"
  - "**/__mocks__/**"
  - "**/drizzle/migrations/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vitest.config.ts"
  - "**/vite.config.ts"

# Parsers configuration
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

# GitHub checks configuration
github_checks:
  annotations: true

fix(audit): cover loyalty and family reconciliation gaps
  docs/operations/loyalty-reconciliation.md
  docs/operations/provider-acceptance.md
  docs/remediation/20260913-integration-fixes.md
  scripts/acceptance/data-audit.ts
  scripts/ci/forensic-data-audit.ts
  scripts/sql/forensic-data-preflight.sql
Due: none

feat(payments): record Stripe dispute evidence from signed webhooks
  docs/architecture/service-catalog.json
  docs/operations/provider-acceptance.md
  server/__tests__/payment-dispute-boundary.test.ts
  server/services/payment-dispute.service.ts
  server/webhooks/stripe.ts
Due: unittests, server

fix(payments): preserve wallet dispute tenant ownership (R2-01)
  docs/runbooks/aviation-components-r2.md
  server/__tests__/payment-dispute-boundary.test.ts
  server/services/payment-dispute.service.ts
Due: unittests, server

fix(release): resume publication without another version commit (R2-02)
  .github/workflows/release.yml
  docs/runbooks/aviation-components-r2.md
  scripts/ci/release-publication.js
  server/__tests__/scripts/release-publication.test.ts
Due: none

fix(departure): serialize gate reservations and invalidate stale assignments (R2-03)
  client/src/pages/admin/GateManagement.tsx
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-components-r2.md
  drizzle/0038_gate_allocation_windows.sql
  drizzle/meta/0038_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/r2-gates.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/gate-allocation-boundary.test.ts
  server/contracts/gates.ts
  server/routers/gates.ts
  server/services/event-inbox.service.ts
  server/services/flight-state.service.ts
  server/services/gate-allocation.service.ts
  server/services/gate.service.ts
Due: unittests, server, client

feat(operations): reconcile supplier hotel fulfillment (R2-04)
  .env.example
  client/src/components/EmergencyHotelCard.tsx
  client/src/components/HotelFulfillmentPanel.tsx
  client/src/pages/admin/EmergencyHotelManagement.tsx
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-components-r2.md
  drizzle/0039_hotel_provider_fulfillment.sql
  drizzle/meta/0039_snapshot.json
  drizzle/meta/_journal.json
  drizzle/operations-schema.ts
  scripts/acceptance/forensic.ts
  scripts/acceptance/r2-hotels.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/fixtures/hotel-provider.ts
  server/__tests__/hotel-fulfillment.test.ts
  server/contracts/emergency-hotel.ts
  server/integrations/hotelbeds.ts
  server/routers/emergency-hotel.ts
  server/services/capability-catalog.service.ts
  server/services/cron.service.ts
  server/services/emergency-hotel.service.ts
  server/services/hotel-fulfillment.service.ts
  shared/hotel-fulfillment.ts
Due: unittests, server, client

feat(platform): version durable events and add CloudEvents contracts (R2-05)
  .env.example
  .github/workflows/production-gates.yml
  docs/architecture/domain-events.asyncapi.json
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-components-r2.md
  drizzle/0040_versioned_event_envelopes.sql
  drizzle/meta/0040_snapshot.json
  drizzle/meta/_journal.json
  drizzle/operations-schema.ts
  drizzle/schema.ts
  scripts/generate-event-contracts.ts
  server/__tests__/domain-events.test.ts
  server/__tests__/operational-http-boundary.test.ts
  server/contracts/domain-events.ts
  server/routes/operational-integrations.ts
  server/services/event-inbox.service.ts
  server/services/outbox.service.test.ts
  server/services/outbox.service.ts
Due: unittests, server

test(integrations): exercise REST state and provider wire contracts (R2-06)
  .github/workflows/component-labs.yml
  docs/runbooks/aviation-components-r2.md
  scripts/contracts/microcks_lab.py
  scripts/contracts/requirements.txt
  scripts/contracts/rest-host.ts
  scripts/contracts/run.py
  scripts/contracts/test_rest.py
  scripts/contracts/verify-hotelbeds-microcks.ts
  scripts/generate-event-contracts.ts
  server/openapi.ts
  server/routers/notifications.ts
Due: unittests, server

test(platform): prove TCP faults and killed-worker recovery (R2-07)
  .github/workflows/component-labs.yml
  docs/runbooks/aviation-components-r2.md
  scripts/acceptance/r2-transport.ts
  scripts/contracts/run_faults.py
  server/openapi.ts
Due: unittests, server

fix(aviation): close six blocking defects found reviewing R2-01…R2-07
  client/src/pages/admin/EmergencyHotelManagement.tsx
  docs/runbooks/aviation-components-r2.md
  scripts/acceptance/r2-gates.ts
  scripts/acceptance/r2-hotels.ts
  scripts/contracts/run_faults.py
  server/__tests__/hotel-fulfillment.test.ts
  server/services/emergency-hotel.service.ts
  server/services/gate-allocation.service.ts
  server/services/hotel-fulfillment.service.ts
Due: unittests, server, client

fix(aviation): close the remaining review findings from R2-01…R2-07
  .github/workflows/release.yml
  docs/runbooks/aviation-components-r2.md
  scripts/acceptance/r2-hotels.ts
  scripts/ci/release-publication.js
  server/__tests__/ci-workflow-hardening.test.ts
  server/__tests__/hotel-fulfillment.test.ts
  server/routers/gates.ts
  server/services/emergency-hotel.service.ts
  server/services/hotel-fulfillment.service.ts
Due: unittests, server

fix(catalog): record the gate router as an rbac consumer
  docs/architecture/service-catalog.json
Due: none

fix(labs): give the transport lab workable deadlines and real diagnostics
  scripts/acceptance/r2-transport.ts
  scripts/contracts/run_faults.py
Due: none

fix(labs): kill the lab's process group so a timeout cannot hang the job
  scripts/contracts/run_faults.py
Due: none

feat(weather): add the aviation weather source adapter (R2-10)
  .env.example
  docs/architecture/domain-events.asyncapi.json
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-components-r2.md
  drizzle/0041_aviation_weather_source.sql
  drizzle/meta/0041_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/r2-weather.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/aviation-weather-boundary.test.ts
  server/contracts/domain-events.ts
  server/contracts/weather.ts
  server/integrations/aviation-weather.ts
  server/routers.ts
  server/routers/weather.ts
  server/services/aviation-weather.service.ts
  shared/aviation-weather.ts
Due: unittests, server

fix(openapi): document only the error statuses a route can return
  docs/runbooks/aviation-components-r2.md
  server/__tests__/rest-boundary.test.ts
  server/openapi.ts
  server/routers/notifications.ts
Due: unittests, server

feat(oncall): deliver operational alerts and record acknowledgement (R2-09)
  .env.example
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-components-r2.md
  drizzle/0042_on_call_dispatch.sql
  drizzle/meta/0042_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/r2-oncall.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/on-call-boundary.test.ts
  server/integrations/on-call.ts
  server/routers/operations.ts
  server/services/cron.service.ts
  server/services/on-call.service.ts
  server/services/operational-observations.service.ts
  shared/on-call.ts
Due: unittests, server

feat(observability): propagate trace context and record data lineage (R2-08)
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-components-r2.md
  drizzle/0043_trace_context.sql
  drizzle/0044_data_lineage.sql
  drizzle/meta/0043_snapshot.json
  drizzle/meta/0044_snapshot.json
  drizzle/meta/_journal.json
  drizzle/operations-schema.ts
  drizzle/schema.ts
  scripts/acceptance/r2-trace.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/lineage-boundary.test.ts
  server/__tests__/trace-context-boundary.test.ts
  server/_core/index.ts
  server/_core/trace.ts
  server/routers/operations.ts
  server/services/cron.service.ts
  server/services/data-warehouse.service.ts
  server/services/event-inbox.service.ts
  server/services/lineage.service.ts
  server/services/outbox.service.ts
  shared/lineage.ts
  shared/trace-context.ts
Due: unittests, server

feat(irops): add an exact advisory reaccommodation assignment (R2-11)
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-components-r2.md
  scripts/acceptance/r2-reaccommodation.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/reaccommodation-boundary.test.ts
  server/contracts/passenger-priority.ts
  server/routers/passenger-priority.ts
  server/services/reaccommodation-advisory.service.ts
  shared/reaccommodation.ts
Due: unittests, server

docs(r2): record why the ONE Record cargo pilot is not started
  docs/runbooks/aviation-components-r2.md
Due: none

fix(r2): close assignment, trace and incident-delivery gaps
  docs/architecture/service-catalog.json
  docs/architecture/service-ownership.json
  docs/audits/20260914-r2-gap-repairs.md
  docs/audits/20260914-r2-gap-repairs/live-acceptance.json
  docs/audits/20260914-r2-gap-repairs/regression-proof.json
  docs/runbooks/aviation-components-r2.md
  drizzle/0045_oncall_cancelled_dispatch.sql
  drizzle/meta/0045_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/r2-oncall.ts
  scripts/acceptance/r2-reaccommodation.ts
  server/__tests__/on-call-boundary.test.ts
  server/__tests__/passenger-priority-failure.test.ts
  server/__tests__/reaccommodation-boundary.test.ts
  server/__tests__/trace-context-boundary.test.ts
  server/contracts/passenger-priority.ts
  server/integrations/on-call.ts
  server/routers/operations.ts
  server/services/inventory-capacity.service.ts
  server/services/on-call.service.ts
  server/services/passenger-priority.service.ts
  server/services/reaccommodation-advisory.service.ts
  shared/on-call.ts
  shared/reaccommodation.ts
  shared/trace-context.ts
Due: unittests, server

fix(ci): format generated contracts and catalog at generation time
  docs/architecture/domain-events.asyncapi.json
  docs/architecture/service-catalog.json
  docs/audits/2026-09-15-verification.json
  scripts/generate-event-contracts.ts
  scripts/generate-service-catalog.ts
Due: none

fix(review): preserve itinerary scope and serialize privacy transitions
  client/src/components/ReaccommodationAdvisory.tsx
  client/src/pages/admin/__tests__/operational-contracts.test.tsx
  docs/architecture/service-catalog.json
  docs/audits/2026-09-15-audit-closure.md
  docs/audits/2026-09-15-verification.json
  scripts/acceptance/audit-gap-closure.ts
  server/contracts/passenger-priority.ts
  server/services/corporate-settlement.service.ts
  server/services/corporate.service.ts
  server/services/flight-cancellation.service.ts
  server/services/gdpr.service.ts
  server/services/mobile-auth-v2.service.ts
  server/services/operational-observations.service.ts
  server/services/reaccommodation-advisory.service.ts
  server/services/travel-scenarios.service.ts
  server/services/voucher.service.ts
Due: unittests, server, client

fix(events): validate waitlist and recovery payload contracts
  docs/architecture/domain-events.asyncapi.json
  docs/audits/2026-09-15-audit-closure.md
  server/__tests__/recovery-event-contracts.test.ts
  server/contracts/domain-events.ts
Due: unittests, server

fix(events): validate pricing loyalty and tenant governance payloads
  docs/architecture/domain-events.asyncapi.json
  docs/audits/2026-09-15-audit-closure.md
  server/__tests__/governance-event-contracts.test.ts
  server/contracts/domain-events.ts
  server/services/outbox.service.test.ts
Due: unittests, server

fix(events): cover operational producers and require registered payloads
  docs/architecture/domain-events.asyncapi.json
  docs/architecture/service-catalog.json
  docs/audits/2026-09-15-audit-closure.md
  docs/audits/2026-09-15-event-contracts-verification.json
  scripts/event-producer-inventory.ts
  scripts/generate-event-contracts.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/event-producer-inventory.test.ts
  server/__tests__/operational-event-payloads.test.ts
  server/contracts/domain-events.ts
  server/services/aviation-evidence.service.ts
  server/services/ndc-unpaid.service.ts
  server/services/ndc.service.ts
  server/services/outbox.service.test.ts
  server/services/outbox.service.ts
Due: unittests, server

test: exercise crew history in batch acceptance
  scripts/acceptance/project-hardening.ts
Due: none

fix(ci): retain production bootstrap and isolate browser sessions
  client/src/pages/MyBookings.tsx
  client/src/pages/__tests__/MyBookings.test.tsx
  docs/audits/2026-09-15-project-hardening-verification.json
  docs/runbooks/project-hardening.md
  e2e/ci-smoke.spec.ts
  e2e/fixtures/base-test.ts
  e2e/fixtures/browser-session.ts
  e2e/fixtures/consent.ts
  e2e/fixtures/hardening.ts
  e2e/fixtures/test-helpers.ts
  e2e/global-setup.ts
  e2e/hardening-journeys.spec.ts
  scripts/e2e/prepare-consent.ts
  vite.config.ts
Due: unittests, client

test: verify distinct refund commands and cancellation boundaries
  docs/audits/2026-09-15-refund-boundaries.md
  scripts/acceptance/project-hardening.ts
Due: none

fix: secure Kubernetes credential transport and coordinate fault deadlines
  .github/workflows/ci-cd.yml
  docs/audits/2026-09-15-refund-boundaries.md
  docs/operations/secrets.md
  scripts/acceptance/r2-transport.ts
  scripts/deploy/kubernetes_secrets.py
  scripts/deploy/test_kubernetes_secrets.py
Due: none

test: verify stdin integration config delivery
  server/__tests__/integration-config-delivery.test.ts
Due: none

test: verify refund boundaries and harden deployment secret transport (#162)
  .github/workflows/ci-cd.yml
  docs/audits/2026-09-15-refund-boundaries.md
  docs/operations/secrets.md
  scripts/acceptance/project-hardening.ts
  scripts/acceptance/r2-transport.ts
  scripts/deploy/kubernetes_secrets.py
  scripts/deploy/test_kubernetes_secrets.py
  server/__tests__/integration-config-delivery.test.ts
Due: none

feat: enforce funded baggage entitlements
  docs/operations/baggage-entitlement.md
  docs/operations/baggage-phase0.md
  drizzle/0052_baggage_entitlement_phase0.sql
  drizzle/0053_baggage_catalog_weights.sql
  drizzle/0054_baggage_entitlement_sessions.sql
  drizzle/meta/0052_snapshot.json
  drizzle/meta/0053_snapshot.json
  drizzle/meta/0054_snapshot.json
  drizzle/meta/_journal.json
  drizzle/operations-schema.ts
  drizzle/schema.ts
  scripts/audit-baggage-matching.sql
  scripts/audit-baggage-summary.sql
  server/__tests__/baggage-entitlement-mutations.md
  server/__tests__/baggage-entitlement.test.ts
  server/__tests__/baggage-phase0-contract.test.ts
  server/__tests__/durable-operations.test.ts
  server/__tests__/order-servicing.test.ts
  server/routers/bag-drop.ts
  server/scripts/seed-ancillaries.mjs
  server/services/ancillary-services.service.ts
  server/services/bag-drop.service.ts
  server/services/baggage-entitlement.service.ts
  server/services/booking-invoice.service.ts
  server/services/booking-settlement.service.ts
  server/services/order-servicing.service.ts
  server/services/payment-settlement.service.ts
Due: unittests, server

style: format baggage migration metadata
  drizzle/meta/0052_snapshot.json
  drizzle/meta/0053_snapshot.json
  drizzle/meta/0054_snapshot.json
  drizzle/meta/_journal.json
Due: none

chore: refresh service catalog for baggage entitlement
  docs/architecture/service-catalog.json
Due: none

feat: enforce funded baggage entitlements (#163)
  docs/architecture/service-catalog.json
  docs/operations/baggage-entitlement.md
  docs/operations/baggage-phase0.md
  drizzle/0052_baggage_entitlement_phase0.sql
  drizzle/0053_baggage_catalog_weights.sql
  drizzle/0054_baggage_entitlement_sessions.sql
  drizzle/meta/0052_snapshot.json
  drizzle/meta/0053_snapshot.json
  drizzle/meta/0054_snapshot.json
  drizzle/meta/_journal.json
  drizzle/operations-schema.ts
  drizzle/schema.ts
  scripts/audit-baggage-matching.sql
  scripts/audit-baggage-summary.sql
  server/__tests__/baggage-entitlement-mutations.md
  server/__tests__/baggage-entitlement.test.ts
  server/__tests__/baggage-phase0-contract.test.ts
  server/__tests__/durable-operations.test.ts
  server/__tests__/order-servicing.test.ts
  server/routers/bag-drop.ts
  server/scripts/seed-ancillaries.mjs
  server/services/ancillary-services.service.ts
  server/services/bag-drop.service.ts
  server/services/baggage-entitlement.service.ts
  server/services/booking-invoice.service.ts
  server/services/booking-settlement.service.ts
  server/services/order-servicing.service.ts
  server/services/payment-settlement.service.ts
Due: unittests, server

test: verify baggage protection mutations and document Railway runtime gates
  .github/workflows/production-gates.yml
  docs/operations/railway-staging-completion.md
  scripts/ci/check-baggage-mutations.mjs
  server/__tests__/baggage-entitlement.test.ts
  server/__tests__/durable-operations.test.ts
Due: none

feat: show scoped baggage entitlements and add MySQL acceptance cases
  client/src/components/BaggageEntitlement.test.tsx
  client/src/components/BaggageEntitlement.tsx
  client/src/pages/CheckIn.tsx
  client/src/pages/MyBookings.tsx
  client/src/pages/admin/BagDropManagement.tsx
  client/src/pages/admin/__tests__/operational-contracts.test.tsx
  docs/architecture/service-catalog.json
  docs/operations/railway-staging-completion.md
  scripts/acceptance/baggage-entitlements.ts
  scripts/acceptance/integration-remediation.ts
  server/__tests__/baggage-entitlement.test.ts
  server/contracts/bookings.ts
  server/routers/bookings.ts
  server/services/baggage-entitlement.service.ts
Due: unittests, server, client
