Repository kafaat/ais-aviation-system: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, server, client

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage configuration
coverage:
  # Precision of coverage percentage
  precision: 2
  # Rounding method (down, up, nearest)
  round: down
  # Range for coverage color coding [red, green]
  range: "50...100"

  # Status checks configuration
  status:
    # Project-level coverage status
    project:
      default:
        # Target coverage percentage
        target: 80%
        # Threshold for coverage changes (allow small drops)
        threshold: 1%
        # Only consider this status after n builds
        # if_ci_failed: error
        # Only run on these paths
        paths:
          - "server/**"
          - "client/src/**"
          - "shared/**"
        # Exclude these paths
        exclude:
          - "**/*.test.ts"
          - "**/*.test.tsx"
          - "**/*.spec.ts"
          - "**/node_modules/**"
          - "**/dist/**"
          - "**/drizzle/migrations/**"

      # Separate status for server code
      server:
        target: 80%
        threshold: 1%
        paths:
          - "server/**"
        flags:
          - server

      # Separate status for client code
      client:
        target: 75%
        threshold: 2%
        paths:
          - "client/src/**"
        flags:
          - client

    # Patch coverage (coverage on changed lines)
    patch:
      default:
        target: 70%
        threshold: 5%
        # Only run patch on PRs
        only_pulls: true

# Flags configuration
flags:
  unittests:
    paths:
      - server/
      - client/src/
      - shared/
    carryforward: true

  server:
    paths:
      - server/
    carryforward: true

  client:
    paths:
      - client/src/
    carryforward: true

# Comment configuration for PRs
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"
  # Behavior of the comment (default, once, new, etc.)
  behavior: default
  # Require changes to post a comment
  require_changes: false
  # Require base coverage for comparison
  require_base: false
  # Require head coverage for comparison
  require_head: true
  # Show project coverage
  show_project_coverage: true

# Ignore certain paths from coverage
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test/**"
  - "**/mocks/**"
  - "**/__mocks__/**"
  - "**/drizzle/migrations/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vitest.config.ts"
  - "**/vite.config.ts"

# Parsers configuration
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

# GitHub checks configuration
github_checks:
  annotations: true

ci: add hard production readiness gates
  .github/workflows/production-gates.yml
Due: none

fix(prod): align compose healthcheck with public liveness probe
  docker-compose.prod.yml
Due: none

style(prod): preserve Prettier formatting for health probe change
  docker-compose.prod.yml
Due: none

fix(prod): use public liveness probe on all API replicas
  docker-compose.production.yml
Due: none

test(prod): guard all production healthcheck surfaces
  .github/workflows/production-gates.yml
Due: none

security: add scoped self-service capability tokens
  server/services/self-service-capability.service.ts
Due: unittests, server

security: bind kiosk actions to authenticated capability
  server/routers/kiosk.ts
Due: unittests, server

security: require signed admission and session scopes for bag drop
  server/routers/bag-drop.ts
Due: unittests, server

test: prove self-service capability isolation
  server/services/self-service-capability.service.test.ts
Due: none

test: lock kiosk and bag-drop authority boundaries
  server/routers/self-service-boundaries.test.ts
Due: none

style: format bag-drop security boundary
  server/routers/bag-drop.ts
Due: unittests, server

style: format self-service boundary tests
  server/routers/self-service-boundaries.test.ts
Due: none

style: format self-service capability service
  server/services/self-service-capability.service.ts
Due: unittests, server

ci: format self-service security slice once
  .github/workflows/self-service-format-once.yml
Due: none

ci: remove one-time self-service formatter
  .github/workflows/self-service-format-once.yml
Due: none

fix(payments): derive modification checkout amount server-side
  server/routers/payments.ts
Due: unittests, server

test: lock modification checkout price authority
  server/routers/modification-checkout-authority.test.ts
Due: none

fix(client): stop sending modification payment amount
  client/src/components/ModifyBookingDialog.tsx
Due: unittests, client

fix(refunds): enforce cumulative refund accounting and idempotency
  server/services/refunds.service.ts
Due: unittests, server

test(refunds): cover cumulative balance and provider idempotency
  server/services/refunds.security.test.ts
Due: none

fix(refunds): recover provider-success retries before balance guard
  server/services/refunds.service.ts
Due: unittests, server

chore: add one-shot refund formatter
  .github/workflows/refund-format-once.yml
Due: none

chore: remove one-shot refund formatter
  .github/workflows/refund-format-once.yml
Due: none

fix(auth): require strong non-placeholder JWT secret
  auth-service/config.py
Due: none

fix(auth): require explicit JWT secret in local compose
  docker-compose.yml
Due: none

test(auth): guard auth-service JWT secret boundary
  server/__tests__/auth-service-jwt-secret-contract.test.ts
Due: none

style(auth): format JWT secret contract test
  server/__tests__/auth-service-jwt-secret-contract.test.ts
Due: none

chore: apply scoped refund detail authority fix
  .github/workflows/refund-detail-authority-fix.yml
Due: none

chore: remove failed temporary refund fix workflow
  .github/workflows/refund-detail-authority-fix.yml
Due: none

fix(refunds): bind refund detail reads to authenticated owner
  server/services/refunds.service.ts
Due: unittests, server

fix(refunds): pass authenticated actor into detail lookup
  server/routers/refunds.ts
Due: unittests, server

test(refunds): guard refund detail ownership boundary
  server/routers/refund-detail-authority.test.ts
Due: none

style(refunds): format refund authority regression guard
  server/routers/refund-detail-authority.test.ts
Due: none

style(refunds): format refund detail authority service
  server/services/refunds.service.ts
Due: unittests, server

style(refunds): match repository prettier output
  server/routers/refund-detail-authority.test.ts
Due: none

test(refunds): simplify refund detail authority guard
  server/routers/refund-detail-authority.test.ts
Due: none

style(refunds): wrap authority assertion for prettier
  server/routers/refund-detail-authority.test.ts
Due: none

style: format auth signing secret regression guard
  server/__tests__/auth-service-jwt-secret-contract.test.ts
Due: none

chore: format PR97 contract test with pinned prettier
  .github/workflows/format-pr97.yml
Due: none

chore: remove temporary PR97 formatter workflow
  .github/workflows/format-pr97.yml
Due: none
