Repository kafaat/ais-aviation-system: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, server, client

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage configuration
coverage:
  # Precision of coverage percentage
  precision: 2
  # Rounding method (down, up, nearest)
  round: down
  # Range for coverage color coding [red, green]
  range: "50...100"

  # Status checks configuration
  status:
    # Project-level coverage status
    project:
      default:
        # Target coverage percentage
        target: 80%
        # Threshold for coverage changes (allow small drops)
        threshold: 1%
        # Only consider this status after n builds
        # if_ci_failed: error
        # Only run on these paths
        paths:
          - "server/**"
          - "client/src/**"
          - "shared/**"
        # Exclude these paths
        exclude:
          - "**/*.test.ts"
          - "**/*.test.tsx"
          - "**/*.spec.ts"
          - "**/node_modules/**"
          - "**/dist/**"
          - "**/drizzle/migrations/**"

      # Separate status for server code
      server:
        target: 80%
        threshold: 1%
        paths:
          - "server/**"
        flags:
          - server

      # Separate status for client code
      client:
        target: 75%
        threshold: 2%
        paths:
          - "client/src/**"
        flags:
          - client

    # Patch coverage (coverage on changed lines)
    patch:
      default:
        target: 70%
        threshold: 5%
        # Only run patch on PRs
        only_pulls: true

# Flags configuration
flags:
  unittests:
    paths:
      - server/
      - client/src/
      - shared/
    carryforward: true

  server:
    paths:
      - server/
    carryforward: true

  client:
    paths:
      - client/src/
    carryforward: true

# Comment configuration for PRs
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"
  # Behavior of the comment (default, once, new, etc.)
  behavior: default
  # Require changes to post a comment
  require_changes: false
  # Require base coverage for comparison
  require_base: false
  # Require head coverage for comparison
  require_head: true
  # Show project coverage
  show_project_coverage: true

# Ignore certain paths from coverage
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test/**"
  - "**/mocks/**"
  - "**/__mocks__/**"
  - "**/drizzle/migrations/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vitest.config.ts"
  - "**/vite.config.ts"

# Parsers configuration
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

# GitHub checks configuration
github_checks:
  annotations: true

fix(pwa): keep one service worker authority
  vite.config.ts
Due: none

fix(pwa): reference shipped manifest assets
  client/public/manifest.json
Due: none

test(pwa): guard single service worker authority
  server/pwa-build-contract.test.ts
Due: none

fix(auth): add authenticated route guard
  client/src/components/ProtectedRoute.tsx
Due: unittests, client

test(auth): guard account route protection
  server/protected-routes-contract.test.ts
Due: none

ci(tmp): apply protected route wrappers
  .github/workflows/_tmp-apply-protected-routes.yml
Due: none

chore(ci): remove temporary route applicator
  .github/workflows/_tmp-apply-protected-routes.yml
Due: none

chore(ci): add temporary tenant boundary applicator
  .github/workflows/_apply_tenant_not_null.yml
Due: none

chore(ci): trigger tenant applicator on branch push
  .github/workflows/_apply_tenant_not_null.yml
Due: none

chore(ci): provide drizzle generation database url
  .github/workflows/_apply_tenant_not_null.yml
Due: none

chore(ci): close tenant writer gaps before not-null
  .github/workflows/_apply_tenant_not_null.yml
Due: none

cleanup: remove temporary tenant applicator
  .github/workflows/_apply_tenant_not_null.yml
Due: none

chore(ci): probe reconstructed migration snapshot
  .github/workflows/_probe_snapshot_baseline.yml
Due: none

chore(ci): measure authoritative and legacy database states
  .github/workflows/_measure_db_migration_states.yml
Due: none

chore(ci): normalize legacy drizzle breakpoints for measurement
  .github/workflows/_measure_db_migration_states.yml
Due: none

chore(ci): strip inline drizzle breakpoints for measurement
  .github/workflows/_measure_db_migration_states.yml
Due: none

chore(ci): probe authoritative schema reconciliation delta
  .github/workflows/_probe_snapshot_baseline.yml
Due: none

chore(ci): expose destructive reconciliation statements
  .github/workflows/_probe_snapshot_baseline.yml
Due: none

chore(ci): build idempotent schema reconciliation migration
  .github/workflows/_build_schema_reconciliation.yml
Due: none

chore(ci): apply tenant my-bookings scope slice
  .github/workflows/tenant-mybookings-apply.yml
Due: none

chore(ci): fix tenant slice applicator
  .github/workflows/tenant-mybookings-apply.yml
Due: none

chore(ci): apply tenant booking read scope slice
  .github/workflows/tenant-booking-read-scope-apply.yml
Due: none

fix(tenant): fail closed without tenant context
  server/services/tenant-scope.service.ts
Due: unittests, server

test(tenant): require fail-closed helpers
  server/services/tenant-scope.service.test.ts
Due: none

fix(tenant): scope booking seat economics reads
  server/services/seat-economics-tenant.service.ts
Due: unittests, server

fix(tenant): bind seat economics router to tenant
  server/routers/seat-economics.ts
Due: unittests, server

test(tenant): guard seat economics tenant boundary
  server/__tests__/seat-economics-tenant-boundary.test.ts
Due: none

fix(docker): patch Alpine runtime packages
  Dockerfile.prod
Due: none

test(migrations): measure schema snapshot drift
  server/__tests__/migration-schema-snapshot-drift.test.ts
Due: none

style(migrations): format drift guard
  server/__tests__/migration-schema-snapshot-drift.test.ts
Due: none

fix: restore migration and production runtime contracts
  .github/workflows/ci-cd.yml
  .github/workflows/production-gates.yml
  auth-service/config.py
  auth-service/main.py
  docker-compose.prod.yml
  docker-compose.production.yml
  docs/audits/20260909-remediation.md
  drizzle/0013_complete_declared_schema.sql
  drizzle/meta/0013_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  k8s/base/background.yaml
  package.json
  scripts/run-check-in-reminders.ts
  scripts/run-reconciliation.ts
  scripts/verify-database-schema.ts
  server/__tests__/runtime-contract.test.ts
  server/_core/env.ts
  server/db.ts
  server/jobs/check-in-reminder.job.ts
  server/jobs/reconciliation.job.ts
  server/queue/queues.ts
  server/queue/redis-config.ts
  server/routers/health.ts
  server/services/queue-v2.service.ts
  server/worker.ts
Due: unittests, server

fix: enforce tenant boundaries and per-procedure request limits
  client/public/sw.js
  client/src/contexts/AuthContext.tsx
  docs/audits/20260909-remediation.md
  server/__tests__/service-worker-privacy.test.ts
  server/__tests__/tenant-rate-boundary.test.ts
  server/_core/index.ts
  server/_core/middleware/procedure-rate-limit.ts
  server/_core/middleware/user-rate-limit.middleware.ts
  server/_core/trpc.ts
  server/db.ts
  server/routers/admin.ts
  server/services/access-control.service.test.ts
  server/services/access-control.service.ts
  server/services/cache.service.ts
  server/services/rate-limit.service.ts
  server/services/rbac.service.test.ts
  server/services/rbac.service.ts
Due: unittests, server, client

fix: require MFA and unify revocable session families
  .env.example
  auth-service/main.py
  auth-service/test_public_registration.py
  client/src/_core/hooks/useAuth.ts
  client/src/components/MFAVerify.tsx
  client/src/contexts/AuthContext.tsx
  client/src/pages/Login.tsx
  docs/audits/20260909-remediation.md
  drizzle/0014_revocable_mfa_sessions.sql
  drizzle/meta/0014_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/session-mfa-boundary.test.ts
  server/_core/context.ts
  server/_core/middleware/procedure-rate-limit.ts
  server/_core/oauth.ts
  server/_core/sdk.ts
  server/routers/auth.security.test.ts
  server/routers/auth.ts
  server/routers/mfa.ts
  server/services/mfa.service.ts
  server/services/mobile-auth-v2.service.ts
Due: unittests, server, client

fix: settle verified payments and booking inventory atomically
  client/src/components/WalletCard.tsx
  docs/audits/20260909-remediation.md
  drizzle/0015_atomic_payment_settlement.sql
  drizzle/meta/0015_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/reconcile-legacy-payments.ts
  server/__tests__/helpers/transaction-memory.ts
  server/__tests__/payment-settlement-boundary.test.ts
  server/bookings.tenant-boundary.test.ts
  server/routers/payments.security.test.ts
  server/routers/payments.ts
  server/routers/wallet.ts
  server/services/booking-settlement.service.ts
  server/services/bookings.service.ts
  server/services/flight-status.service.ts
  server/services/inventory-lock.service.ts
  server/services/payment-settlement.service.ts
  server/services/payments.service.ts
  server/services/refunds.service.ts
  server/services/split-payment.service.ts
  server/services/wallet.service.ts
  server/webhooks/stripe.inventory-oversell.test.ts
  server/webhooks/stripe.ts
Due: unittests, server, client

fix: persist operational state and require real delivery acknowledgements
  .env.example
  .github/workflows/ci-cd.yml
  .github/workflows/production-gates.yml
  Dockerfile.prod
  client/src/components/WalletCard.tsx
  client/src/pages/admin/DisasterRecovery.tsx
  docker-compose.production.yml
  docs/audits/20260909-remediation.md
  drizzle/0016_durable_operational_state.sql
  drizzle/meta/0016_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/k8s-backup-job.py
  scripts/migration-preservation-check.ts
  scripts/reconcile-legacy-payments.ts
  server/__tests__/new-features/email-multilang.test.ts
  server/__tests__/operational-truth.test.ts
  server/services/bookings.service.ts
  server/services/demo-capability.ts
  server/services/disaster-recovery.service.ts
  server/services/email.service.ts
  server/services/gds.service.ts
  server/services/load-planning.service.ts
  server/services/loyalty.service.test.ts
  server/services/loyalty.service.ts
  server/services/outbox.service.test.ts
  server/services/outbox.service.ts
  server/services/payment-settlement.service.ts
  server/services/payments.service.ts
  server/services/refunds.atomicity.test.ts
  server/services/refunds.security.test.ts
  server/webhooks/stripe.ts
Due: unittests, server, client

fix: update security dependencies and protect telemetry data
  client/src/components/__tests__/BookingForm.test.tsx
  client/src/components/__tests__/FlightCard.test.tsx
  client/src/components/__tests__/SearchForm.test.tsx
  client/src/components/__tests__/UserProfile.test.tsx
  client/src/lib/sentry.ts
  client/src/test/setup.ts
  docs/audits/20260909-remediation.md
  package.json
  pnpm-lock.yaml
  server/__tests__/telemetry-privacy.test.ts
  server/_core/middleware/sentry.middleware.ts
  server/services/redis-cache.service.test.ts
  server/services/sentry.service.ts
  shared/telemetry-privacy.ts
  tsconfig.json
  vitest.config.ts
Due: unittests, server, client

fix(api): restore REST and truthful OpenAPI without mutating RPC schemas
  .gitignore
  docs/audits/20260909-remediation.md
  package.json
  pnpm-lock.yaml
  scripts/generate-openapi.ts
  server/__tests__/rest-boundary.test.ts
  server/_core/context.ts
  server/_core/index.ts
  server/_core/rest.ts
  server/_core/trpc.ts
  server/openapi.ts
Due: unittests, server

fix(payments): align refund locks and guard legacy receipt imports
  docs/audits/20260909-remediation.md
  scripts/reconcile-legacy-payments.ts
  server/__tests__/helpers/transaction-memory.ts
  server/__tests__/payment-settlement-boundary.test.ts
  server/services/payment-settlement.service.ts
Due: unittests, server

fix(payments): retain unsettled collections for controlled refund review
  docs/audits/20260909-remediation.md
  drizzle/0017_collection_review.sql
  drizzle/meta/0017_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/helpers/transaction-memory.ts
  server/__tests__/payment-settlement-boundary.test.ts
  server/__tests__/settlement-review-boundary.test.ts
  server/routers/payments.ts
  server/services/booking-settlement.service.ts
  server/services/payment-settlement.service.ts
  server/services/settlement-review.service.ts
  server/services/split-payment.service.ts
  server/services/wallet.service.ts
Due: unittests, server

fix(inventory): read current holds and gate live transaction acceptance
  .github/workflows/production-gates.yml
  docs/audits/20260909-remediation.md
  package.json
  scripts/verify-transaction-boundaries.ts
  server/__tests__/helpers/transaction-memory.ts
  server/__tests__/inventory-hold-boundary.test.ts
  server/__tests__/rest-boundary.test.ts
  server/routers/payments.security.test.ts
  server/services/booking-settlement.service.ts
  server/services/inventory-lock.service.ts
  server/services/split-payment.service.test.ts
  tsconfig.acceptance.json
Due: unittests, server
