Repository kafaat/ais-aviation-system: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, server, client

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage configuration
coverage:
  # Precision of coverage percentage
  precision: 2
  # Rounding method (down, up, nearest)
  round: down
  # Range for coverage color coding [red, green]
  range: "50...100"

  # Status checks configuration
  status:
    # Project-level coverage status
    project:
      default:
        # Target coverage percentage
        target: 80%
        # Threshold for coverage changes (allow small drops)
        threshold: 1%
        # Only consider this status after n builds
        # if_ci_failed: error
        # Only run on these paths
        paths:
          - "server/**"
          - "client/src/**"
          - "shared/**"
        # Exclude these paths
        exclude:
          - "**/*.test.ts"
          - "**/*.test.tsx"
          - "**/*.spec.ts"
          - "**/node_modules/**"
          - "**/dist/**"
          - "**/drizzle/migrations/**"

      # Separate status for server code
      server:
        target: 80%
        threshold: 1%
        paths:
          - "server/**"
        flags:
          - server

      # Separate status for client code
      client:
        target: 75%
        threshold: 2%
        paths:
          - "client/src/**"
        flags:
          - client

    # Patch coverage (coverage on changed lines)
    patch:
      default:
        target: 70%
        threshold: 5%
        # Only run patch on PRs
        only_pulls: true

# Flags configuration
flags:
  unittests:
    paths:
      - server/
      - client/src/
      - shared/
    carryforward: true

  server:
    paths:
      - server/
    carryforward: true

  client:
    paths:
      - client/src/
    carryforward: true

# Comment configuration for PRs
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"
  # Behavior of the comment (default, once, new, etc.)
  behavior: default
  # Require changes to post a comment
  require_changes: false
  # Require base coverage for comparison
  require_base: false
  # Require head coverage for comparison
  require_head: true
  # Show project coverage
  show_project_coverage: true

# Ignore certain paths from coverage
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test/**"
  - "**/mocks/**"
  - "**/__mocks__/**"
  - "**/drizzle/migrations/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vitest.config.ts"
  - "**/vite.config.ts"

# Parsers configuration
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

# GitHub checks configuration
github_checks:
  annotations: true

fix(finance): unify posted booking financial reports and warehouse snapshots
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/admin/DataWarehouse.tsx
  client/src/pages/admin/ReportsDashboard.tsx
  client/src/pages/admin/RevenueAccounting.tsx
  client/src/pages/admin/__tests__/RevenueAccounting.test.tsx
  docs/architecture/service-catalog.json
  docs/audits/20260911-posted-financial-reporting.md
  docs/audits/20260911-refund-reporting-ledger.md
  docs/runbooks/sequential-gap-closure.md
  scripts/acceptance/financial-reporting.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/financial-reporting-boundary.test.ts
  server/contracts/revenue-accounting.ts
  server/routers/reports.ts
  server/routers/revenue-accounting.ts
  server/services/booking-financial-reporting.service.ts
  server/services/data-warehouse.service.ts
  server/services/report-export.service.test.ts
  server/services/report-export.service.ts
  server/services/revenue-accounting.service.ts
Due: unittests, server, client

fix(backup): pin the default backup image by digest
  docs/BACKUP_RESTORE_ACCEPTANCE.md
  scripts/ci/test_backup_job.py
  scripts/k8s-backup-job.py
Due: none

refactor: clear every require-await and unused-symbol warning
  client/public/sw.js
  eslint.config.js
  package.json
  scripts/acceptance/forensic.ts
  scripts/ci/forensic-data-audit.ts
  server/__tests__/session-mfa-boundary.test.ts
  server/routers/bag-drop.ts
  server/routers/data-warehouse.ts
  server/routers/kiosk.ts
  server/routers/payments.ts
  server/services/ancillary-services.service.ts
  server/services/apis.service.ts
  server/services/biometric.service.ts
  server/services/booking-checkout.service.ts
  server/services/booking-settlement.service.ts
  server/services/inventory-lock.service.ts
  server/services/ndc-unpaid.service.ts
  server/services/outbox.service.ts
  server/services/refunds-stats.service.ts
  server/services/refunds.service.ts
  server/services/settlement-review.service.ts
  server/services/sla-monitoring.service.ts
  server/services/split-checkout.service.ts
  server/services/split-payment.service.ts
  server/services/split-refund.service.ts
  server/services/wallet.service.ts
Due: unittests, server

fix(admin): restore tRPC type checking on six admin pages
  client/src/pages/admin/BSPReporting.tsx
  client/src/pages/admin/BagDropManagement.tsx
  client/src/pages/admin/BiometricBoarding.tsx
  client/src/pages/admin/KioskManagement.tsx
  client/src/pages/admin/RevenueAccounting.tsx
  client/src/pages/admin/WeightBalance.tsx
  package.json
Due: unittests, client

fix(client): type error handlers and list callbacks instead of any
  client/src/pages/AiChat.tsx
  client/src/pages/MyBookings.tsx
  client/src/pages/MyWaitlist.tsx
  client/src/pages/admin/AnalyticsDashboard.tsx
  client/src/pages/admin/CorporateManagement.tsx
  client/src/pages/admin/GroupBookingsManagement.tsx
  client/src/pages/admin/TravelAgentManagement.tsx
  client/src/pages/corporate/CorporateBookings.tsx
  client/src/pages/corporate/CorporateDashboard.tsx
  package.json
  server/services/auth-service.client.ts
  server/services/cache-v2.service.ts
  server/services/cache.service.ts
  server/services/idempotency-v2.service.ts
  server/services/queue-v2.service.ts
  server/services/queue.service.ts
Due: unittests, server, client

refactor(services): give the cache and queue services real types
  package.json
  server/services/cache.service.ts
  server/services/queue.service.ts
Due: unittests, server

fix(services): correct six always-zero row counts hidden by as-any casts
  package.json
  server/__tests__/new-features/account-lock.test.ts
  server/services/account-lock.service.ts
  server/services/ancillary-services.service.ts
  server/services/corporate.service.ts
  server/services/gdpr.service.ts
  server/services/group-booking.service.ts
  server/services/idempotency-v2.service.ts
  server/services/inventory-lock.service.ts
  server/services/loyalty.service.ts
  server/services/notification.service.ts
  server/services/travel-agent.service.ts
  server/services/waitlist.service.ts
Due: unittests, server

fix(client): type selected-row state, exposing a broken modify dialog
  client/src/pages/MyBookings.tsx
  client/src/pages/MyWaitlist.tsx
  client/src/pages/admin/CorporateManagement.tsx
  client/src/pages/admin/GroupBookingsManagement.tsx
  client/src/pages/admin/TravelAgentManagement.tsx
  client/src/pages/corporate/CorporateBookings.tsx
  package.json
  server/_core/sdk.ts
  server/services/websocket.service.ts
Due: unittests, server, client

fix(services): type middleware, blobs and query builders; restore a dropped column
  package.json
  server/services/booking-invoice.service.ts
  server/services/booking-state-machine.service.ts
  server/services/corporate.service.ts
  server/services/group-booking.service.ts
  server/services/logger.service.ts
  server/services/mobile-auth.service.ts
  server/services/ndc-unpaid.service.ts
  server/services/queue.service.ts
  server/services/security.service.ts
  server/services/travel-agent.service.ts
Due: unittests, server

refactor: eliminate the last of the explicit any warnings
  client/src/pages/admin/TravelAgentManagement.tsx
  client/src/pages/corporate/CorporateBookings.tsx
  package.json
  scripts/acceptance/refund-reporting.ts
  server/queue/workers/reconciliation.worker.ts
  server/services/ancillary-services.service.ts
  server/services/flights.service.ts
  server/services/idempotency-v2.service.ts
  server/services/mfa.service.ts
  server/services/mobile-auth.service.ts
  server/services/queue-v2.service.ts
  server/services/sms.service.ts
  server/services/travel-agent.service.ts
Due: unittests, server, client

refactor(refunds): replace non-null assertions in itinerary and refund paths
  package.json
  server/services/multi-city.service.ts
  server/services/ndc-unpaid.service.ts
  server/services/ndc.service.ts
  server/services/split-refund.service.ts
Due: unittests, server

refactor: clear the remaining non-null assertions in application code
  client/src/components/SplitRefundCancellation.tsx
  client/src/pages/admin/RefundsDashboard.tsx
  package.json
  scripts/reconcile-legacy-payments.ts
  scripts/verify-database-schema.ts
  server/routers/admin.ts
  server/services/booking-checkout.service.ts
  server/services/booking-invoice.service.ts
  server/services/data-warehouse.service.ts
  server/services/intelligence/economics.agent.ts
  server/services/kiosk.service.ts
  server/services/load-planning.service.ts
  server/services/payment-settlement.service.ts
  server/services/refunds.service.ts
  server/services/sla-monitoring.service.ts
Due: unittests, server, client

ci(lint): take the warning cap to zero
  eslint.config.js
  package.json
Due: none

fix(acceptance): restore async on a forensic check that awaits
  scripts/acceptance/forensic.ts
Due: none

fix(scripts): name-check unique constraints in the schema verifier
  scripts/verify-database-schema.ts
Due: none

fix(irops): persist recovery plans and require execution evidence
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/admin/AnalyticsDashboard.tsx
  client/src/pages/admin/IROPSCommandCenter.tsx
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-research-patches.md
  drizzle/0021_durable_irops.sql
  drizzle/meta/0021_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/financial-reporting.test.ts
  server/__tests__/irops-durable.test.ts
  server/contracts/irops.ts
  server/services/analytics.service.ts
  server/services/data-warehouse.service.ts
  server/services/financial-reporting.service.ts
  server/services/irops.service.ts
Due: unittests, server, client

fix(finance): separate invoices from posted collections and refunds
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/admin/AnalyticsDashboard.tsx
  docs/runbooks/aviation-research-patches.md
  server/__tests__/financial-reporting.test.ts
  server/contracts/analytics.ts
  server/services/analytics.service.ts
  server/services/data-warehouse.service.ts
  server/services/financial-reporting.service.ts
Due: unittests, server, client

feat(baggage): persist verified custody chains across journey legs
  client/src/components/BaggageTracker.tsx
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-research-patches.md
  drizzle/0027_baggage_custody_evidence.sql
  drizzle/meta/0027_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/baggage-custody.test.ts
  server/__tests__/helpers/transaction-memory.ts
  server/routers/aviation-integrations.ts
  server/routers/baggage.ts
  server/services/aviation-evidence.service.ts
  server/services/baggage-custody.service.ts
  server/services/order-servicing.service.ts
  server/services/payment-settlement.service.ts
Due: unittests, server, client

feat(orders): settle paid itinerary exchanges and original-payer refunds
  client/src/components/ModifyBookingDialog.tsx
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-research-patches.md
  drizzle/0026_paid_order_servicing.sql
  drizzle/meta/0026_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/order-servicing.test.ts
  server/routers/modifications.ts
  server/routers/ndc.ts
  server/routers/payments.ts
  server/services/booking-invoice.service.ts
  server/services/booking-modification.service.ts
  server/services/capability-catalog.service.ts
  server/services/cron.service.ts
  server/services/modification-fee.ts
  server/services/ndc-unpaid.service.ts
  server/services/order-refunds.service.ts
  server/services/order-service-checkout.service.ts
  server/services/order-servicing.service.ts
  server/services/payment-settlement.service.ts
  server/services/refunds.security.test.ts
  server/services/refunds.service.ts
  server/services/split-refund.service.ts
  server/webhooks/stripe.ts
Due: unittests, server, client

feat(recovery): apply operator crew rules and approved inventory recovery
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-research-patches.md
  drizzle/0028_crew_recovery.sql
  drizzle/meta/0028_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/recovery-solver.test.ts
  server/routers/aviation-integrations.ts
  server/routers/crew.ts
  server/routers/dcs.ts
  server/routers/irops.ts
  server/services/aviation-evidence.service.ts
  server/services/crew-assignment.service.ts
  server/services/crew-duty-policy.ts
  server/services/crew-rule.service.ts
  server/services/dcs.service.ts
  server/services/intelligence/operations.agent.ts
  server/services/irops-recovery.service.ts
  server/services/irops.service.ts
  server/services/recovery-solver.ts
Due: unittests, server

feat(operations): ingest signed flight events and report observed performance
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-research-patches.md
  drizzle/0024_aviation_source_evidence.sql
  drizzle/meta/0024_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/aviation-evidence.test.ts
  server/contracts/intelligence.router.ts
  server/routers.ts
  server/routers/aviation-integrations.ts
  server/services/aviation-evidence.service.ts
  server/services/intelligence/kernel.ts
  server/services/intelligence/operations.agent.ts
  server/services/intelligence/types.ts
  server/services/operational-events.service.ts
Due: unittests, server

feat(economics): consume closed cost snapshots and maintenance-backed rotations
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-research-patches.md
  drizzle/0029_aircraft_rotation.sql
  drizzle/meta/0029_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/aircraft-economics.test.ts
  server/routers/aviation-integrations.ts
  server/services/aircraft-rotation.service.ts
  server/services/flight-economics-evidence.service.ts
  server/services/intelligence/economics.agent.ts
Due: unittests, server

feat(retail): bind bookings and NDC offers to persisted fare snapshots
  client/src/pages/BookingPage.tsx
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-research-patches.md
  drizzle/0022_retail_offer_snapshots.sql
  drizzle/meta/0022_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/booking-command-integrity.test.ts
  server/__tests__/retail-offer.test.ts
  server/db.ts
  server/routers/bookings.ts
  server/routers/price-quote.ts
  server/services/bookings.service.ts
  server/services/flights.service.ts
  server/services/ndc.service.ts
  server/services/price-quote.service.ts
  server/services/retail-offer.service.ts
Due: unittests, server, client

fix(forecasting): evaluate temporal baselines and preserve unknown accuracy
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-research-patches.md
  drizzle/0025_temporal_forecast_evidence.sql
  drizzle/meta/0025_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/temporal-forecast.test.ts
  server/contracts/ai-pricing.router.ts
  server/routers/ai-pricing.router.ts
  server/services/pricing/ai-pricing.service.ts
  server/services/pricing/demand-forecasting.service.ts
  server/services/pricing/temporal-forecast.ts
Due: unittests, server

fix(agents): bind human price approvals to atomic execution receipts
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-research-patches.md
  drizzle/0023_bound_price_approvals.sql
  drizzle/meta/0023_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/price-approval.test.ts
  server/routers/agent-governance.ts
  server/routers/ai-pricing.router.ts
  server/services/agent-governance.service.test.ts
  server/services/agent-governance.service.ts
  server/services/pricing-approval.service.ts
  server/services/pricing/revenue-optimization.service.ts
Due: unittests, server

feat(retail): govern premium discounts and measure persistent experiment cohorts
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-research-patches.md
  drizzle/0030_premium_experiments.sql
  drizzle/meta/0030_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/premium-experiment.test.ts
  server/routers/aviation-integrations.ts
  server/services/premium-experiment-policy.ts
  server/services/premium-experiment.service.ts
  server/services/retail-offer.service.ts
Due: unittests, server

feat(travel): source emissions and traveler rules and enforce document clearance
  client/src/components/BaggageTracker.tsx
  client/src/components/CarbonOffset.tsx
  client/src/components/TravelRequirements.tsx
  docs/architecture/service-catalog.json
  docs/runbooks/aviation-research-patches.md
  drizzle/0031_passenger_document_expiry.sql
  drizzle/meta/0031_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/aviation-research.ts
  server/__tests__/integration/critical-paths.test.ts
  server/__tests__/split-refund-boundary.test.ts
  server/__tests__/travel-evidence.test.ts
  server/contracts/irops.ts
  server/contracts/travel-scenarios.ts
  server/routers/aviation-integrations.ts
  server/routers/travel-scenarios.ts
  server/services/apis.service.ts
  server/services/booking-modification.service.ts
  server/services/bookings.service.ts
  server/services/crew-assignment.service.ts
  server/services/cron.service.test.ts
  server/services/flight-economics-evidence.service.ts
  server/services/intelligence/economics.agent.ts
  server/services/intelligence/operations.agent.ts
  server/services/irops-recovery.service.ts
  server/services/irops.service.ts
  server/services/kiosk.service.ts
  server/services/ndc.service.ts
  server/services/premium-experiment.service.ts
  server/services/required-value.ts
  server/services/retail-offer.service.ts
  server/services/seat-map.service.ts
  server/services/travel-clearance.service.ts
  server/services/travel-evidence-policy.ts
  server/services/travel-evidence.service.ts
  server/services/travel-scenarios.service.ts
  tsconfig.acceptance.json
Due: unittests, server, client

ci(security): add a gitleaks config for two synthetic fixture credentials
  .gitleaks.toml
Due: none

docs(audit): record integration gaps and reproducible evidence
  docs/audits/20260912-integration-review.md
  docs/audits/20260912-integration-review/README.md
  docs/audits/20260912-integration-review/api-map.csv
  docs/audits/20260912-integration-review/ci-coverage.json
  docs/audits/20260912-integration-review/gitleaks-audit.json
  docs/audits/20260912-integration-review/inventory-summary.json
  docs/audits/20260912-integration-review/patch-ancestry.json
  docs/audits/20260912-integration-review/reproductions.json
  docs/audits/20260912-integration-review/service-map.csv
  docs/audits/20260912-integration-review/validation.json
  scripts/acceptance/integration-audit.ts
  scripts/ci/integration-audit-inventory.mjs
  scripts/ci/probe-gitleaks-policy.py
  tsconfig.audit-scripts.json
Due: none

fix(ci): constrain secret exemptions and check all scripts
  .github/workflows/ci-cd.yml
  .gitleaks.toml
  package.json
  tsconfig.audit-scripts.json
  tsconfig.scripts.json
Due: none

fix(check-in): unify passenger departure state and signed passes
  client/src/components/SeatMap.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/BookingPage.tsx
  client/src/pages/CheckIn.tsx
  docs/architecture/service-catalog.json
  docs/remediation/20260913-integration-fixes.md
  drizzle/0032_departure_check_in_nonce.sql
  drizzle/meta/0032_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/integration-remediation.ts
  server/contracts/boarding-pass.ts
  server/contracts/kiosk.ts
  server/routers/boarding-pass.ts
  server/routers/bookings.ts
  server/routers/kiosk.ts
  server/routers/seat-map.ts
  server/services/boarding-pass.service.test.ts
  server/services/boarding-pass.service.ts
  server/services/bookings.service.ts
  server/services/departure-control.service.ts
  server/services/kiosk.service.ts
  server/services/seat-map.service.ts
  server/services/travel-clearance.service.ts
Due: unittests, server, client

fix(inventory): unify waitlist and group booking allocations
  client/src/App.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/BookingPage.tsx
  client/src/pages/GroupBookingRequest.tsx
  client/src/pages/MyGroups.tsx
  client/src/pages/MyWaitlist.tsx
  client/src/pages/admin/GroupBookingsManagement.tsx
  docs/remediation/20260913-integration-fixes.md
  drizzle/0033_channel_inventory_allocations.sql
  drizzle/meta/0033_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/integration-remediation.ts
  server/contracts/group-bookings.ts
  server/contracts/waitlist.ts
  server/db.ts
  server/routers/admin.ts
  server/routers/bookings.ts
  server/routers/group-bookings.ts
  server/services/bookings.service.ts
  server/services/cron.service.ts
  server/services/group-booking.service.ts
  server/services/inventory-adjustment.service.ts
  server/services/inventory-lock.service.ts
  server/services/inventory/inventory.service.ts
  server/services/seat-map.service.ts
  server/services/waitlist.service.ts
Due: unittests, server, client

fix(flights): make operational transitions atomic across itinerary legs
  docs/architecture/service-catalog.json
  docs/remediation/20260913-integration-fixes.md
  scripts/acceptance/integration-remediation.ts
  server/routers/disruptions.ts
  server/services/disruption.service.ts
  server/services/flight-state.service.ts
  server/services/flight-status.service.ts
  server/services/flight-tracking.service.ts
  server/services/irops.service.ts
Due: unittests, server

fix(finance): resume payer refunds and isolate event consumer effects
  docs/remediation/20260913-integration-fixes.md
  drizzle/0034_flight_cancellation_refunds.sql
  drizzle/0035_event_consumer_and_loyalty_receipts.sql
  drizzle/meta/0034_snapshot.json
  drizzle/meta/0035_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/integration-remediation.ts
  server/contracts/admin.ts
  server/routers/admin.ts
  server/services/booking-settlement.service.ts
  server/services/cron.service.ts
  server/services/email.service.ts
  server/services/event-inbox.service.ts
  server/services/flight-cancellation.service.ts
  server/services/flight-event-delivery.service.ts
  server/services/flight-status.service.ts
  server/services/loyalty.service.ts
  server/services/order-refunds.service.ts
  server/services/outbox.service.ts
  server/webhooks/stripe.ts
Due: unittests, server

fix(departure): bind documents and seat changes to the active itinerary
  server/routers/eticket.ts
  server/services/departure-control.service.ts
  server/services/eticket.service.ts
  server/services/seat-map.service.ts
  server/services/ticket-documents.service.ts
Due: unittests, server

fix(recovery): require current crew tail and source evidence at execution
  server/routers/irops.ts
  server/services/aircraft-rotation.service.ts
  server/services/aviation-evidence.service.ts
  server/services/crew-assignment.service.ts
  server/services/crew-rule.service.ts
  server/services/flight-state.service.ts
  server/services/irops-recovery.service.ts
  server/services/recovery-feasibility.service.ts
Due: unittests, server

feat(operations): persist health evidence and expose controlled recovery workflows
  client/src/App.tsx
  client/src/pages/AdminDashboard.tsx
  client/src/pages/admin/OperationsControl.tsx
  docs/architecture/service-ownership.json
  drizzle/0036_durable_operations_observations.sql
  drizzle/meta/0036_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  k8s/base/background.yaml
  server/_core/index.ts
  server/contracts/operations.ts
  server/routers/operations.ts
  server/services/capability-catalog.service.ts
  server/services/cron.service.ts
  server/services/operational-observations.service.ts
  server/services/operations-dashboard.service.ts
  server/worker.ts
Due: unittests, server, client

test(integration): enforce regression gates and document operational boundaries
  .github/workflows/ci-cd.yml
  .github/workflows/production-gates.yml
  docs/PRODUCTION_TOPOLOGY.md
  docs/architecture/service-catalog.json
  docs/operations/integration-recovery.md
  docs/operations/provider-acceptance.md
  docs/remediation/20260913-integration-fixes.md
  package.json
  scripts/acceptance/integration-remediation.ts
  scripts/ci/test_worker_probe.py
  scripts/generate-service-catalog.ts
  server/__tests__/booking-command-integrity.test.ts
  server/__tests__/durable-operations.test.ts
  server/__tests__/helpers/transaction-memory.ts
  server/__tests__/inventory-hold-boundary.test.ts
  server/__tests__/inventory-owner-mutations.test.ts
  server/__tests__/new-features/waitlist.test.ts
  server/__tests__/operational-truth.test.ts
  server/__tests__/split-refund-boundary.test.ts
  server/bookings.tenant-boundary.test.ts
  server/services/cron.service.test.ts
  server/services/flight-status.service.test.ts
  server/services/flight-status.service.ts
  server/services/group-booking.inventory-atomicity.test.ts
  server/services/group-booking.service.test.ts
  server/services/group-booking.service.ts
  server/services/loyalty.service.test.ts
  server/services/loyalty.service.ts
  server/services/waitlist.inventory-atomicity.test.ts
Due: unittests, server

fix(loyalty): conserve expiring credits and atomic family transfers
  docs/architecture/service-catalog.json
  docs/operations/loyalty-reconciliation.md
  docs/remediation/20260913-integration-fixes.md
  drizzle/0037_loyalty_credit_lot_conservation.sql
  drizzle/meta/0037_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/integration-remediation.ts
  server/services/family-pool.service.ts
  server/services/loyalty-balance.service.test.ts
  server/services/loyalty-balance.service.ts
  server/services/loyalty.service.test.ts
  server/services/loyalty.service.ts
Due: unittests, server

test(payments): extend sandbox acceptance to captures and payer refunds
  .github/workflows/stripe-sandbox-acceptance.yml
  docs/operations/provider-acceptance.md
  docs/remediation/20260913-integration-fixes.md
  scripts/acceptance/stripe-checkout.ts
  scripts/acceptance/stripe-sandbox-contract.ts
  server/__tests__/stripe-sandbox-contract.test.ts
  server/stripe.test.ts
Due: none
