Repository kafaat/ais-aviation-system: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, server, client

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage configuration
coverage:
  # Precision of coverage percentage
  precision: 2
  # Rounding method (down, up, nearest)
  round: down
  # Range for coverage color coding [red, green]
  range: "50...100"

  # Status checks configuration
  status:
    # Project-level coverage status
    project:
      default:
        # Target coverage percentage
        target: 80%
        # Threshold for coverage changes (allow small drops)
        threshold: 1%
        # Only consider this status after n builds
        # if_ci_failed: error
        # Only run on these paths
        paths:
          - "server/**"
          - "client/src/**"
          - "shared/**"
        # Exclude these paths
        exclude:
          - "**/*.test.ts"
          - "**/*.test.tsx"
          - "**/*.spec.ts"
          - "**/node_modules/**"
          - "**/dist/**"
          - "**/drizzle/migrations/**"

      # Separate status for server code
      server:
        target: 80%
        threshold: 1%
        paths:
          - "server/**"
        flags:
          - server

      # Separate status for client code
      client:
        target: 75%
        threshold: 2%
        paths:
          - "client/src/**"
        flags:
          - client

    # Patch coverage (coverage on changed lines)
    patch:
      default:
        target: 70%
        threshold: 5%
        # Only run patch on PRs
        only_pulls: true

# Flags configuration
flags:
  unittests:
    paths:
      - server/
      - client/src/
      - shared/
    carryforward: true

  server:
    paths:
      - server/
    carryforward: true

  client:
    paths:
      - client/src/
    carryforward: true

# Comment configuration for PRs
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"
  # Behavior of the comment (default, once, new, etc.)
  behavior: default
  # Require changes to post a comment
  require_changes: false
  # Require base coverage for comparison
  require_base: false
  # Require head coverage for comparison
  require_head: true
  # Show project coverage
  show_project_coverage: true

# Ignore certain paths from coverage
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test/**"
  - "**/mocks/**"
  - "**/__mocks__/**"
  - "**/drizzle/migrations/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vitest.config.ts"
  - "**/vite.config.ts"

# Parsers configuration
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

# GitHub checks configuration
github_checks:
  annotations: true

style: satisfy CI formatting for audit remediation
  docs/audits/20260909-remediation.md
  drizzle/meta/0013_snapshot.json
  drizzle/meta/0017_snapshot.json
  drizzle/meta/_journal.json
  server/services/mobile-auth-v2.service.ts
Due: unittests, server

fix: restore preference defaults and verify cancellation refunds
  docs/audits/20260909-remediation.md
  drizzle/0018_restore_preference_defaults.sql
  drizzle/meta/0018_snapshot.json
  drizzle/meta/_journal.json
  scripts/verify-database-schema.ts
  scripts/verify-transaction-boundaries.ts
  server/services/flight-status.service.test.ts
  server/services/user-preferences.service.test.ts
Due: none

fix(auth): normalize only bare MySQL database URL schemes
  .github/workflows/ci-cd.yml
  auth-service/config.py
  auth-service/test_config.py
  docs/audits/20260909-remediation.md
Due: none

fix(migrations): reconcile schema and enforce guarded MySQL replay
  .github/workflows/ci-cd.yml
  .github/workflows/production-gates.yml
  Dockerfile.prod
  docs/migrations/0013-reconciliation.md
  drizzle/0013_schema_reconciliation.sql
  drizzle/meta/0013_snapshot.json
  drizzle/meta/_journal.json
  package.json
  scripts/db/generate.ts
  scripts/db/migrate.ts
  scripts/db/replay-acceptance.ts
  scripts/db/schema-contract.ts
  scripts/db/snapshot-check.ts
  server/__tests__/migration-schema-snapshot-drift.test.ts
Due: none

fix: remove unused npm from deployed images and scan both targets
  .github/workflows/ci-cd.yml
  .github/workflows/docker-image-validation.yml
  Dockerfile.prod
  scripts/ci/docker-image-smoke.sh
Due: none

fix: verify durable database backups through isolated restoration
  .github/workflows/production-gates.yml
  docs/BACKUP_RESTORE_ACCEPTANCE.md
  docs/audits/20260909-remediation.md
  scripts/ci/backup-restore-smoke.py
  scripts/ci/test_backup_job.py
  scripts/k8s-backup-job.py
Due: none

ci: scan the tested production runtime image before merge
  .github/workflows/docker-image-validation.yml
  docs/audits/20260909-remediation.md
Due: none

fix: patch migration toolchain and exclude deployed installers
  Dockerfile.prod
  docs/migrations/0013-reconciliation.md
  package.json
  pnpm-lock.yaml
  scripts/ci/docker-image-smoke.sh
Due: none

test: fail explicitly when deployed installer commands remain
  scripts/ci/docker-image-smoke.sh
Due: none

test: read JSON installation metadata emitted by pinned pnpm
  scripts/ci/docker-image-smoke.sh
Due: none

feat(migrations): adopt an unjournaled database without replaying its schema
  docs/migrations/0013-reconciliation.md
  package.json
  scripts/db/migrate.ts
  scripts/db/replay-acceptance.ts
Due: none

fix(migrations): write the adopted journal in one transaction
  scripts/db/migrate.ts
  scripts/db/replay-acceptance.ts
Due: none

fix(migrations): require a transactional journal before adoption
  docs/migrations/0013-reconciliation.md
  scripts/db/migrate.ts
  scripts/db/replay-acceptance.ts
Due: none

fix(ci): fail preflight reports on incomplete or drifting evidence
  docs/CI_CD_GUIDE.md
  scripts/ci/production-db-preflight.ts
  server/__tests__/scripts/production-db-preflight.test.ts
Due: none

fix(docker): remove unused npm from the runtime image
  .github/workflows/docker-image-validation.yml
  Dockerfile.prod
Due: none

fix(migrations): stabilize schema fingerprint table order
  scripts/db/schema-contract.ts
  server/__tests__/migration-schema-snapshot-drift.test.ts
Due: none

fix: contain production simulations and authorize biometric passengers
  .env.example
  docs/audits/20260910-simulation-boundaries.md
  server/__tests__/operational-truth.test.ts
  server/__tests__/simulation-boundaries.test.ts
  server/routers/biometric.security.test.ts
  server/routers/biometric.ts
  server/services/access-control.service.ts
  server/services/biometric.service.ts
  server/services/dcs.service.ts
  server/services/load-planning.service.ts
  server/services/multi-region.service.ts
  server/services/weight-balance.service.ts
Due: unittests, server

fix(ci): derive preservation expectations from applied migration history
  docs/audits/20260910-simulation-boundaries.md
  scripts/db/migration-preservation.ts
  scripts/db/replay-acceptance.ts
  scripts/migration-preservation-check.ts
  server/__tests__/migration-preservation.test.ts
  tsconfig.acceptance.json
Due: none

fix: enforce resource ownership and configured production SMS
  .env.example
  .github/workflows/ci-cd.yml
  docker-compose.production.yml
  docs/FORENSIC_REMEDIATION_2026-09-10.md
  server/__tests__/inventory-owner-mutations.test.ts
  server/__tests__/passenger-resource-ownership.test.ts
  server/routers/apis.ts
  server/routers/emergency-hotel.ts
  server/routers/inventory.router.ts
  server/routers/multi-city.ts
  server/services/inventory/inventory.service.ts
  server/services/sms.production-boundary.test.ts
  server/services/sms.service.ts
Due: unittests, server

fix: preserve command response fidelity and validate integration HTTP boundaries
  scripts/verify-transaction-boundaries.ts
  server/__tests__/booking-command-integrity.test.ts
  server/__tests__/gateway-routing.test.ts
  server/__tests__/operational-http-boundary.test.ts
  server/routes/operational-integrations.ts
  server/services/idempotency-v2.service.ts
Due: unittests, server

fix: reconcile NDC cancellation and refunds across all resources
  .github/workflows/production-gates.yml
  docs/architecture/service-catalog.json
  docs/audits/20260910-remaining-gap-remediation.md
  scripts/acceptance/forensic.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/booking-command-integrity.test.ts
  server/routers/ndc.ts
  server/services/booking-settlement.service.ts
  server/services/capability-catalog.service.ts
  server/services/ndc.service.ts
  server/services/payment-settlement.service.ts
  server/services/production-ready.test.ts
Due: unittests, server

fix: make historical data reconciliation measurable and read only
  docs/runbooks/sequential-gap-closure.md
  package.json
  scripts/acceptance/data-audit.ts
  scripts/ci/forensic-data-audit.ts
  scripts/sql/forensic-data-preflight.sql
  scripts/verify-transaction-boundaries.ts
  server/__tests__/scripts/forensic-data-audit.test.ts
Due: none

fix: serialize invoice payment and unpaid NDC servicing
  .github/workflows/stripe-sandbox-acceptance.yml
  client/src/components/ManageAncillariesDialog.tsx
  client/src/components/MealPreOrder.tsx
  docs/architecture/service-catalog.json
  docs/audits/20260910-remaining-gap-remediation.md
  docs/runbooks/sequential-gap-closure.md
  drizzle/0018_durable_booking_checkout.sql
  drizzle/meta/0018_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/stripe-checkout.ts
  scripts/acceptance/unpaid-invoices.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/booking-checkout-boundary.test.ts
  server/__tests__/helpers/transaction-memory.ts
  server/__tests__/ndc-unpaid-boundary.test.ts
  server/routers/ancillary.ts
  server/routers/ndc.ts
  server/routers/payments.security.test.ts
  server/routers/payments.ts
  server/routers/split-payments.ts
  server/services/ancillary-services.service.test.ts
  server/services/ancillary-services.service.ts
  server/services/booking-checkout.service.ts
  server/services/booking-invoice.service.ts
  server/services/capability-catalog.service.ts
  server/services/inventory-lock.service.ts
  server/services/ndc-unpaid.service.ts
  server/services/ndc.service.ts
  server/services/split-payment.service.ts
  server/services/wallet.service.ts
  server/stripe.test.ts
  tsconfig.acceptance.json
  vitest.config.ts
Due: unittests, server, client

fix: satisfy invoice closure formatting and import gates
  docs/architecture/service-catalog.json
  drizzle/meta/0018_snapshot.json
  drizzle/meta/_journal.json
  scripts/acceptance/unpaid-invoices.ts
  server/routers/payments.ts
  server/services/booking-invoice.service.ts
  server/services/ndc-unpaid.service.ts
Due: unittests, server

fix: fit replacement hold identity to the persisted column
  scripts/acceptance/unpaid-invoices.ts
  server/__tests__/ndc-unpaid-boundary.test.ts
  server/services/ndc-unpaid.service.ts
Due: unittests, server

test: isolate invoice fixtures from nonexistent booking sentinels
  server/services/ancillary-services.service.test.ts
Due: none

fix: consolidate the NDC settlement import
  server/services/ndc.service.ts
Due: unittests, server

fix: make split checkout and collection lifecycle durable
  docs/architecture/service-catalog.json
  docs/audits/20260911-split-payment-lifecycle.md
  docs/runbooks/sequential-gap-closure.md
  drizzle/0019_durable_split_checkout.sql
  drizzle/meta/0019_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/split-lifecycle.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/split-checkout-boundary.test.ts
  server/routers/split-payments.ts
  server/services/booking-checkout.service.ts
  server/services/payment-settlement.service.ts
  server/services/refunds.security.test.ts
  server/services/refunds.service.ts
  server/services/split-checkout.service.ts
  server/services/split-payment.service.ts
  server/services/wallet.service.ts
  vitest.config.ts
Due: unittests, server

fix: surface missing split funding receipts for review
  server/__tests__/split-checkout-boundary.test.ts
  server/services/payment-settlement.service.ts
  server/services/split-payment.service.ts
Due: unittests, server

fix: make split cancellation refunds durable for every payer
  client/src/components/CancelBookingDialog.tsx
  client/src/components/SplitRefundCancellation.tsx
  client/src/components/__tests__/SplitRefundCancellation.test.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/MyBookings.tsx
  client/src/pages/PayYourShare.tsx
  client/src/pages/admin/RefundsDashboard.tsx
  docs/architecture/service-catalog.json
  docs/audits/20260911-split-refund-cancellation.md
  docs/runbooks/sequential-gap-closure.md
  drizzle/0020_split_refund_cancellation.sql
  drizzle/meta/0020_snapshot.json
  drizzle/meta/_journal.json
  drizzle/schema.ts
  scripts/acceptance/split-refunds.ts
  scripts/ci/forensic-data-audit.ts
  scripts/sql/forensic-data-preflight.sql
  scripts/verify-transaction-boundaries.ts
  server/__tests__/helpers/transaction-memory.ts
  server/__tests__/payment-settlement-boundary.test.ts
  server/__tests__/split-refund-boundary.test.ts
  server/contracts/refunds.ts
  server/routers/bookings.ts
  server/routers/refunds.ts
  server/routers/split-payments.ts
  server/services/booking-settlement.service.ts
  server/services/cron.service.test.ts
  server/services/cron.service.ts
  server/services/event-inbox.service.ts
  server/services/kiosk.service.ts
  server/services/payment-settlement.service.ts
  server/services/refunds.service.ts
  server/services/seat-map.service.ts
  server/services/split-payment.service.ts
  server/services/split-refund.service.ts
  server/webhooks/stripe.ts
  vitest.config.ts
Due: unittests, server, client

fix: route compatibility webhooks through canonical settlement
  docs/architecture/service-catalog.json
  docs/architecture/service-lifecycle.json
  docs/audits/20260911-split-refund-cancellation.md
  scripts/acceptance/data-audit.ts
  server/__tests__/webhooks/stripe-compatibility-boundary.test.ts
  server/routers/webhooks.ts
Due: unittests, server

fix: make split refund forensic queries valid on MySQL
  docs/audits/20260911-split-refund-cancellation.md
  scripts/acceptance/data-audit.ts
  scripts/ci/forensic-data-audit.ts
  scripts/sql/forensic-data-preflight.sql
Due: none

fix: reconcile refund dashboards and exports with posted ledger
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/admin/RefundsDashboard.tsx
  client/src/pages/admin/__tests__/RefundsDashboard.test.tsx
  docs/architecture/service-catalog.json
  docs/audits/20260911-refund-reporting-ledger.md
  docs/runbooks/sequential-gap-closure.md
  scripts/acceptance/refund-reporting.ts
  scripts/verify-transaction-boundaries.ts
  server/__tests__/refund-reporting-boundary.test.ts
  server/contracts/refunds.ts
  server/routers/refunds.ts
  server/routers/reports.ts
  server/services/refunds-stats.service.ts
  server/services/report-export.service.test.ts
  server/services/report-export.service.ts
Due: unittests, server, client

fix: start supported read-only refund reporting snapshots
  docs/audits/20260911-refund-reporting-ledger.md
  server/__tests__/refund-reporting-boundary.test.ts
  server/services/refunds-stats.service.ts
Due: unittests, server

fix: let drained API callers exit after rate-limit cleanup
  docs/audits/20260911-refund-reporting-ledger.md
  server/services/rate-limit.service.ts
Due: unittests, server

fix: isolate financial status polling from mutation quotas
  docs/audits/20260911-payment-read-limits.md
  docs/runbooks/sequential-gap-closure.md
  scripts/acceptance/payment-read-limits.ts
  scripts/verify-transaction-boundaries.ts
  server/_core/middleware/procedure-rate-limit.test.ts
  server/_core/middleware/procedure-rate-limit.ts
  server/_core/trpc.ts
  server/services/rate-limit.service.ts
Due: unittests, server

ci(release): prove the release commit carries no code before pushing
  .github/workflows/release.yml
  server/__tests__/ci-workflow-hardening.test.ts
Due: none

fix(backup): harden the production backup Job and let operators size it
  .github/workflows/ci-cd.yml
  docs/BACKUP_RESTORE_ACCEPTANCE.md
  scripts/ci/test_backup_job.py
  scripts/k8s-backup-job.py
Due: none

ci(lint): cap ESLint warnings so the backlog cannot keep growing
  package.json
Due: none
