Repository kafaat/ais-aviation-system: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, server, client

codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage configuration
coverage:
  # Precision of coverage percentage
  precision: 2
  # Rounding method (down, up, nearest)
  round: down
  # Range for coverage color coding [red, green]
  range: "50...100"

  # Status checks configuration
  status:
    # Project-level coverage status
    project:
      default:
        # Target coverage percentage
        target: 80%
        # Threshold for coverage changes (allow small drops)
        threshold: 1%
        # Only consider this status after n builds
        # if_ci_failed: error
        # Only run on these paths
        paths:
          - "server/**"
          - "client/src/**"
          - "shared/**"
        # Exclude these paths
        exclude:
          - "**/*.test.ts"
          - "**/*.test.tsx"
          - "**/*.spec.ts"
          - "**/node_modules/**"
          - "**/dist/**"
          - "**/drizzle/migrations/**"

      # Separate status for server code
      server:
        target: 80%
        threshold: 1%
        paths:
          - "server/**"
        flags:
          - server

      # Separate status for client code
      client:
        target: 75%
        threshold: 2%
        paths:
          - "client/src/**"
        flags:
          - client

    # Patch coverage (coverage on changed lines)
    patch:
      default:
        target: 70%
        threshold: 5%
        # Only run patch on PRs
        only_pulls: true

# Flags configuration
flags:
  unittests:
    paths:
      - server/
      - client/src/
      - shared/
    carryforward: true

  server:
    paths:
      - server/
    carryforward: true

  client:
    paths:
      - client/src/
    carryforward: true

# Comment configuration for PRs
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"
  # Behavior of the comment (default, once, new, etc.)
  behavior: default
  # Require changes to post a comment
  require_changes: false
  # Require base coverage for comparison
  require_base: false
  # Require head coverage for comparison
  require_head: true
  # Show project coverage
  show_project_coverage: true

# Ignore certain paths from coverage
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test/**"
  - "**/mocks/**"
  - "**/__mocks__/**"
  - "**/drizzle/migrations/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/vitest.config.ts"
  - "**/vite.config.ts"

# Parsers configuration
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

# GitHub checks configuration
github_checks:
  annotations: true

docs: add comprehensive system comparison analysis (AR/EN)
  docs/SYSTEM_COMPARISON.md
Due: none

feat: add live flight tracking, inventory locking, overbooking management, and quick rebooking
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/LiveFlightTracking.tsx
  client/src/pages/RebookPage.tsx
  drizzle/schema.ts
  server/routers.ts
  server/routers/flight-tracking.router.ts
  server/routers/inventory.router.ts
  server/routers/rebooking.ts
  server/services/flight-tracking.service.ts
  server/services/inventory/inventory.service.ts
  server/services/rebooking.service.ts
Due: unittests, server, client

feat: add admin overbooking management page and fix unused imports
  client/src/App.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/admin/OverbookingManagement.tsx
  server/services/inventory/inventory.service.ts
Due: unittests, server, client

fix: close critical integration gaps for inventory, rebooking, and overbooking
  client/src/components/DashboardLayout.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/RebookPage.tsx
  server/services/bookings.service.ts
  server/services/queue-v2.service.ts
  server/services/rebooking.service.ts
Due: unittests, server, client

style: apply prettier formatting to OverbookingManagement
  client/src/pages/admin/OverbookingManagement.tsx
Due: unittests, client

docs: update documentation for Phase 4 competitive gap features
  CLAUDE.md
  README.md
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  server/services/apis.service.ts
  server/services/crew-assignment.service.ts
Due: unittests, server

fix: resolve ESLint errors and format CHANGELOG.md
  CHANGELOG.md
  server/routers/sla.ts
  server/services/irops.service.ts
Due: unittests, server

feat: add multi-provider payment gateway with local and regional providers
  client/src/components/ModifyBookingDialog.tsx
  client/src/components/PaymentMethodSelector.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  drizzle/schema.ts
  server/routers/payments.ts
  server/services/payment-providers/easycash.provider.ts
  server/services/payment-providers/floosak.provider.ts
  server/services/payment-providers/hyperpay.provider.ts
  server/services/payment-providers/index.ts
  server/services/payment-providers/jawali.provider.ts
  server/services/payment-providers/onecash.provider.ts
  server/services/payment-providers/stc-pay.provider.ts
  server/services/payment-providers/stripe.provider.ts
  server/services/payment-providers/tabby.provider.ts
  server/services/payment-providers/tamara.provider.ts
  server/services/payment-providers/types.ts
Due: unittests, server, client

Add analytics date filters/export, account lockout security, and i18n
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/AnalyticsDashboard.tsx
  drizzle/schema.ts
  server/__tests__/new-features/account-lock.test.ts
  server/routers.ts
  server/routers/security.ts
  server/services/account-lock.service.ts
  todo.md
Due: unittests, server, client

Fix Prettier formatting for CHANGELOG.md after merge from main
  CHANGELOG.md
Due: none

feat: add phase 5 schema and competitive analysis roadmap
  docs/COMPETITIVE_ANALYSIS_ROADMAP.md
  drizzle/schema.ts
Due: none

feat: add ndc, gds, and codeshare/interline services
  server/services/codeshare.service.ts
  server/services/gds.service.ts
  server/services/ndc.service.ts
Due: unittests, server

feat: add emd, fare rules, and seat map services
  server/services/emd.service.ts
  server/services/fare-rules.service.ts
  server/services/seat-map.service.ts
Due: unittests, server

feat: add phase 5 routers for ndc, gds, codeshare, interline, emd, fares, seats
  server/routers.ts
  server/routers/codeshare.ts
  server/routers/emd.ts
  server/routers/fare-rules.ts
  server/routers/gds.ts
  server/routers/interline.ts
  server/routers/ndc.ts
  server/routers/seat-map.ts
Due: unittests, server

style: fix prettier formatting for fare-rules and gds services
  server/services/fare-rules.service.ts
  server/services/gds.service.ts
Due: unittests, server

feat: add i18n keys for phase 5 aviation modules (en/ar)
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
Due: unittests, client

frontend running successfully
  .env.example
Due: none

style: format CHANGELOG.md after merge from main
  CHANGELOG.md
Due: none

feat: implement TODO features - flight preview, smart suggestions, form validation, loading states
  client/src/components/FlightPreviewDialog.tsx
  client/src/components/SmartSuggestions.tsx
  client/src/components/skeletons/LoyaltySkeleton.tsx
  client/src/components/skeletons/NotificationsSkeleton.tsx
  client/src/components/skeletons/index.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/BookingPage.tsx
  client/src/pages/Home.tsx
  client/src/pages/SearchResults.tsx
  docs/API_DOCUMENTATION.md
  server/__tests__/new-features/smart-suggestions.test.ts
  server/routers.ts
  server/routers/suggestions.ts
  server/services/smart-suggestions.service.ts
  todo.md
Due: unittests, server, client

feat: implement TODO items - payment history, soft delete, security, timeouts, i18n emails
  drizzle/schema.ts
  server/_core/dataApi.ts
  server/_core/index.ts
  server/_core/middleware/request-timeout.middleware.ts
  server/db.ts
  server/routers.ts
  server/routers/payment-history.ts
  server/services/email.service.ts
  todo.md
Due: unittests, server

test: add comprehensive tests for new features (68 tests)
  server/__tests__/new-features/data-api-whitelist.test.ts
  server/__tests__/new-features/email-multilang.test.ts
  server/__tests__/new-features/payment-history.test.ts
  server/__tests__/new-features/request-timeout.test.ts
  server/__tests__/new-features/soft-delete-filtering.test.ts
Due: none

Fix skip-nav links visible in RTL mode & add flights table docs
  client/src/styles/accessibility.css
  docs/FLIGHTS_TABLE.md
Due: unittests, client

feat: add Arabic translations for Phase 4 pages and improve UI styling
  client/src/App.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/index.css
  client/src/pages/Home.tsx
  client/src/pages/admin/BSPReporting.tsx
  client/src/pages/admin/CompensationManagement.tsx
  client/src/pages/admin/CrewAssignment.tsx
  client/src/pages/admin/DisasterRecovery.tsx
  client/src/pages/admin/IROPSCommandCenter.tsx
  client/src/pages/admin/LoadPlanning.tsx
  client/src/pages/admin/SLADashboard.tsx
  client/src/pages/admin/WeightBalance.tsx
Due: unittests, client

fix: complete SLA Dashboard translation updates from background agent
  client/src/pages/admin/SLADashboard.tsx
Due: unittests, client

fix: finalize SLA Dashboard i18n translation updates
  client/src/pages/admin/SLADashboard.tsx
Due: unittests, client

fix: format SLADashboard and RevenueAccounting with Prettier
  client/src/pages/admin/RevenueAccounting.tsx
  client/src/pages/admin/SLADashboard.tsx
Due: unittests, client

style: format CHANGELOG.md with Prettier
  CHANGELOG.md
Due: none

fix(ci): resolve dependency-review error and breaking-changes false positives
  .github/workflows/pr-checks.yml
Due: none

fix(lint): resolve 10 lint warnings across client components
  client/src/components/AncillarySelection.tsx
  client/src/components/BiometricEnrollment.tsx
  client/src/components/BookingAncillariesDisplay.tsx
  client/src/components/CompensationClaim.tsx
  client/src/components/DarkModeToggle.tsx
  client/src/components/DownloadTicketButtons.tsx
  client/src/components/ManageAncillariesDialog.tsx
  client/src/components/ModifyBookingDialog.tsx
  client/src/components/SeatMap.tsx
Due: unittests, client

feat: activate remaining Phase 4 features with admin pages, navigation, and operations guide
  client/src/App.tsx
  client/src/components/DashboardLayout.tsx
  client/src/i18n/locales/ar.json
  client/src/i18n/locales/en.json
  client/src/pages/admin/APISManagement.tsx
  client/src/pages/admin/BagDropManagement.tsx
  client/src/pages/admin/BiometricBoarding.tsx
  client/src/pages/admin/EmergencyHotelManagement.tsx
  client/src/pages/admin/KioskManagement.tsx
  client/src/pages/admin/PassengerPriority.tsx
  docs/OPERATIONS_GUIDE.md
  server/routers/interline.ts
  server/services/interline.service.ts
Due: unittests, server, client

fix(ci): add pre-commit hook and auto-format to prevent recurring Prettier failures
  .github/workflows/ci-cd.yml
  .hooks/pre-commit
  CHANGELOG.md
  package.json
Due: none

fix: register webhooks router, fix lint warnings, and improve type safety
  .npmrc
  scripts/generate-openapi.ts
  server/_core/sdk.ts
  server/jobs/reconciliation.job.ts
  server/queue/workers/email.worker.ts
  server/queue/workers/index.ts
  server/queue/workers/reconciliation.worker.ts
  server/routers.ts
  server/routes/webhooks.ts
  server/services/analytics.service.ts
  server/services/bookings.service.ts
  server/services/cache-v2.service.ts
  server/services/email.service.ts
  server/services/flight-status.service.ts
  server/services/idempotency-v2.service.ts
  server/services/stripe-webhook.service.ts
  server/services/stripe/stripe-reconciliation.service.ts
  server/services/travel-agent.service.ts
  server/services/voucher.service.test.ts
  server/services/voucher.service.ts
  server/services/websocket.service.ts
  server/stripe.test.ts
  server/webhooks/stripe.ts
Due: unittests, server

fix: improve type safety, fix lint warnings across routers, services, and tests
  client/src/components/DashboardLayout.tsx
  e2e/admin.spec.ts
  server/__tests__/integration/critical-paths.test.ts
  server/__tests__/integration/p0-features.test.ts
  server/__tests__/new-features/demand-forecasting.test.ts
  server/routers/admin.ts
  server/routers/ai-chat.ts
  server/routers/ai-pricing.router.ts
  server/routers/auth.ts
  server/routers/cache.ts
  server/routers/codeshare.ts
  server/routers/compensation.ts
  server/routers/gds.ts
  server/routers/irops.ts
  server/routers/metrics.ts
  server/routers/pricing.router.ts
  server/routers/sla.ts
  server/routers/sms.ts
  server/routers/travel-agent.ts
  server/services/audit.service.test.ts
  server/services/db-optimizer.service.test.ts
  server/services/gate.service.ts
  server/services/mobile-auth-v2.service.ts
  server/services/mobile-auth.service.ts
  server/services/notification.service.test.ts
  server/services/popular-routes.service.ts
  server/services/price-alerts.service.test.ts
  server/services/queue-v2.service.ts
  server/services/redis-cache.service.test.ts
  server/services/refunds-stats.service.ts
  server/services/report-export.service.ts
  server/webhooks/stripe.ts
Due: unittests, server, client

fix: clean up lint warnings in UI components, hooks, and test files
  client/src/components/ui/dialog.tsx
  client/src/components/ui/input.tsx
  client/src/components/ui/textarea.tsx
  client/src/hooks/usePersistFn.ts
  client/src/main.tsx
  server/__tests__/integration/p0-features.test.ts
  server/services/group-booking.service.test.ts
  server/services/queue-v2.service.ts
Due: unittests, server, client

fix: clean up pricing services, queue, and e2e test lint warnings
  e2e/booking-flow.spec.ts
  server/services/inventory-lock.service.ts
  server/services/pricing/ai-pricing.service.ts
  server/services/pricing/demand-forecasting.service.ts
  server/services/pricing/dynamic-pricing.service.ts
  server/services/queue.service.ts
  server/services/stripe-webhook-v2.service.ts
Due: unittests, server

fix: clean up lint warnings in services - console.log, unused vars, type fixes
  server/services/bookings.service.ts
  server/services/currency/currency.service.ts
  server/services/db-optimizer.service.ts
  server/services/gate.service.ts
  server/services/logger.service.ts
  server/services/mobile-auth.service.ts
  server/services/multi-city.service.ts
  server/services/payment-providers/index.ts
  server/services/pricing/ab-testing.service.ts
  server/services/pricing/customer-segmentation.service.ts
  server/services/pricing/demand-forecasting.service.ts
  server/services/pricing/revenue-optimization.service.ts
  server/services/production.service.ts
  server/services/queue-v2.service.ts
  server/services/rbac.service.ts
  server/services/refunds.service.ts
  server/services/sentry.service.ts
  server/services/stripe-webhook-v2.service.ts
Due: unittests, server

fix: clean up pricing and webhook service lint warnings
  server/services/pricing/dynamic-pricing.service.ts
  server/services/pricing/revenue-optimization.service.ts
  server/services/stripe-webhook-v2.service.ts
Due: unittests, server
